In [1]:
#!pip install python-edgar

In [2]:
import edgar
import pandas as pd

## 10-Q

In [3]:
df = pd.read_html('amzn-20210331.html')#('nflx-20210331.html')#('ebay-20210331.html')#

In [4]:
for item in df:
    BS = item[0].astype(str).str.contains('Retained') | item[0].astype(str).str.contains('Total Assets') | item[0].astype(str).str.contains('Current Assets')
    if BS.any():
        Balance_Sheet = item

Balance_Sheet

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"December 31, 2020","December 31, 2020","December 31, 2020",NaN,NaN,NaN,"March 31, 2021","March 31, 2021","March 31, 2021"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unaudited),(unaudited),(unaudited)
3,ASSETS,ASSETS,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Current assets:,Current assets:,Current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cash and cash equivalents,Cash and cash equivalents,Cash and cash equivalents,$,42122,NaN,NaN,NaN,NaN,$,33834,NaN
6,Marketable securities,Marketable securities,Marketable securities,42274,42274,NaN,NaN,NaN,NaN,39436,39436,NaN
7,Inventories,Inventories,Inventories,23795,23795,NaN,NaN,NaN,NaN,23849,23849,NaN
8,"Accounts receivable, net and other","Accounts receivable, net and other","Accounts receivable, net and other",24542,24542,NaN,NaN,NaN,NaN,24289,24289,NaN
9,Total current assets,Total current assets,Total current assets,132733,132733,NaN,NaN,NaN,NaN,121408,121408,NaN
10,"Property and equipment, net","Property and equipment, net","Property and equipment, net",113114,113114,NaN,NaN,NaN,NaN,121461,121461,NaN
11,Operating leases,Operating leases,Operating leases,37553,37553,NaN,NaN,NaN,NaN,39328,39328,NaN
12,Goodwill,Goodwill,Goodwill,15017,15017,NaN,NaN,NaN,NaN,15220,15220,NaN
13,Other assets,Other assets,Other assets,22778,22778,NaN,NaN,NaN,NaN,25660,25660,NaN
14,Total assets,Total assets,Total assets,$,321195,NaN,NaN,NaN,NaN,$,323077,NaN
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,LIABILITIES AND STOCKHOLDERS’ EQUITY,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Current liabilities:,Current liabilities:,Current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Accounts payable,Accounts payable,Accounts payable,$,72539,NaN,NaN,NaN,NaN,$,63926,NaN
18,Accrued expenses and other,Accrued expenses and other,Accrued expenses and other,44138,44138,NaN,NaN,NaN,NaN,40939,40939,NaN
19,Unearned revenue,Unearned revenue,Unearned revenue,9708,9708,NaN,NaN,NaN,NaN,10539,10539,NaN
20,Total current liabilities,Total current liabilities,Total current liabilities,126385,126385,NaN,NaN,NaN,NaN,115404,115404,NaN
21,Long-term lease liabilities,Long-term lease liabilities,Long-term lease liabilities,52573,52573,NaN,NaN,NaN,NaN,53067,53067,NaN
22,Long-term debt,Long-term debt,Long-term debt,31816,31816,NaN,NaN,NaN,NaN,31868,31868,NaN
23,Other long-term liabilities,Other long-term liabilities,Other long-term liabilities,17017,17017,NaN,NaN,NaN,NaN,19418,19418,NaN
24,Commitments and contingencies (Note 4),Commitments and contingencies (Note 4),Commitments and contingencies (Note 4),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Stockholders’ equity:,Stockholders’ equity:,Stockholders’ equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Preferred stock, $0.01 par value:","Preferred stock, $0.01 par value:","Preferred stock, $0.01 par value:",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Authorized shares — 500,Authorized shares — 500,Authorized shares — 500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Issued and outstanding shares — none,Issued and outstanding shares — none,Issued and outstanding shares — none,—,—,NaN,NaN,NaN,NaN,—,—,NaN
29,"Common stock, $0.01 par value:","Common stock, $0.01 par value:","Common stock, $0.01 par value:",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Authorized shares — 5,000","Authorized shares — 5,000","Authorized shares — 5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Issued shares — 527 and 528,Issued shares — 527 and 528,Issued shares — 527 and 528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Outstanding shares — 503 and 504,Outstanding shares — 503 and 504,Outstanding shares — 503 and 504,5,5,NaN,NaN,NaN,NaN,5,5,NaN
33,"Treasury stock, at cost","Treasury stock, at cost","Treasury stock, at cost","(1,837)","(1,837)",NaN,NaN,NaN,NaN,"(1,837)","(1,837)",NaN
34,Additional paid-in capital,Additional paid-in capital,Additional paid-in capital,42865,42865,NaN,NaN,NaN,NaN,45160,45160,NaN
35,Accumulated other comprehensive income (loss),Accumulated other comprehensive income (loss),Accumulated other comprehensive income (loss),(180),(180),NaN,NaN,NaN,NaN,(666),(666),NaN
36,Retained earnings,Retained earnings,Retained earnings,52551,52551,NaN,NaN,NaN,NaN,60658,60658,NaN
37,Total stockholders’ equity,Total stockholders’ equity,Total stockholders’ equity,93404,93404,NaN,NaN,NaN,NaN,103320,103320,NaN
38,Total liabilities and stockholders’ equity,Total liabilities and stockholders’ equity,Total liabilities and stockholders’ equity,$,321195,NaN,NaN,NaN,NaN,$,323077,NaN

In [5]:
Balance_Sheet = Balance_Sheet.iloc[1:,[1,4,10]]
Balance_Sheet

# Balance_Sheet = Balance_Sheet.iloc[2:,[2,7,13]]
# Balance_Sheet

,1,4,10
1,NaN,"December 31, 2020","March 31, 2021"
2,NaN,NaN,(unaudited)
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,42122,33834
6,Marketable securities,42274,39436
7,Inventories,23795,23849
8,"Accounts receivable, net and other",24542,24289
9,Total current assets,132733,121408
10,"Property and equipment, net",113114,121461
11,Operating leases,37553,39328
12,Goodwill,15017,15220
13,Other assets,22778,25660
14,Total assets,321195,323077
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
16,Current liabilities:,NaN,NaN
17,Accounts payable,72539,63926
18,Accrued expenses and other,44138,40939
19,Unearned revenue,9708,10539
20,Total current liabilities,126385,115404
21,Long-term lease liabilities,52573,53067
22,Long-term debt,31816,31868
23,Other long-term liabilities,17017,19418
24,Commitments and contingencies (Note 4),NaN,NaN
25,Stockholders’ equity:,NaN,NaN
26,"Preferred stock, $0.01 par value:",NaN,NaN
27,Authorized shares — 500,NaN,NaN
28,Issued and outstanding shares — none,—,—
29,"Common stock, $0.01 par value:",NaN,NaN
30,"Authorized shares — 5,000",NaN,NaN
31,Issued shares — 527 and 528,NaN,NaN
32,Outstanding shares — 503 and 504,5,5
33,"Treasury stock, at cost","(1,837)","(1,837)"
34,Additional paid-in capital,42865,45160
35,Accumulated other comprehensive income (loss),(180),(666)
36,Retained earnings,52551,60658
37,Total stockholders’ equity,93404,103320
38,Total liabilities and stockholders’ equity,321195,323077

In [6]:
#grab the first row for the header
header = Balance_Sheet.iloc[0]
Balance_Sheet = Balance_Sheet[2:] #take the data less the header row
Balance_Sheet.columns = header
Balance_Sheet.columns.values[0] = 'Item'
Balance_Sheet

1,Item,"December 31, 2020","March 31, 2021"
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,42122,33834
6,Marketable securities,42274,39436
7,Inventories,23795,23849
8,"Accounts receivable, net and other",24542,24289
9,Total current assets,132733,121408
10,"Property and equipment, net",113114,121461
11,Operating leases,37553,39328
12,Goodwill,15017,15220
13,Other assets,22778,25660
14,Total assets,321195,323077
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
16,Current liabilities:,NaN,NaN
17,Accounts payable,72539,63926
18,Accrued expenses and other,44138,40939
19,Unearned revenue,9708,10539
20,Total current liabilities,126385,115404
21,Long-term lease liabilities,52573,53067
22,Long-term debt,31816,31868
23,Other long-term liabilities,17017,19418
24,Commitments and contingencies (Note 4),NaN,NaN
25,Stockholders’ equity:,NaN,NaN
26,"Preferred stock, $0.01 par value:",NaN,NaN
27,Authorized shares — 500,NaN,NaN
28,Issued and outstanding shares — none,—,—
29,"Common stock, $0.01 par value:",NaN,NaN
30,"Authorized shares — 5,000",NaN,NaN
31,Issued shares — 527 and 528,NaN,NaN
32,Outstanding shares — 503 and 504,5,5
33,"Treasury stock, at cost","(1,837)","(1,837)"
34,Additional paid-in capital,42865,45160
35,Accumulated other comprehensive income (loss),(180),(666)
36,Retained earnings,52551,60658
37,Total stockholders’ equity,93404,103320
38,Total liabilities and stockholders’ equity,321195,323077

In [7]:
def symbol_handling(DF,cols):
    for col in cols:
        DF[DF.columns[col:]] = DF[DF.columns[col:]].astype(str)

        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace('(','-'))
        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace(')',''))
        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace(',',''))
        DF[DF.columns[col]] = DF[DF.columns[col]].map(lambda x: x.replace('—','nan'))
        
    DF[DF.columns[1:]] = DF[DF.columns[1:]].astype(float)
    DF.dropna(how='all',inplace=True)
    return DF

In [8]:
symbol_handling(Balance_Sheet,[1,2])

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

1,Item,"December 31, 2020","March 31, 2021"
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,42122.0,33834.0
6,Marketable securities,42274.0,39436.0
7,Inventories,23795.0,23849.0
8,"Accounts receivable, net and other",24542.0,24289.0
9,Total current assets,132733.0,121408.0
10,"Property and equipment, net",113114.0,121461.0
11,Operating leases,37553.0,39328.0
12,Goodwill,15017.0,15220.0
13,Other assets,22778.0,25660.0
14,Total assets,321195.0,323077.0
15,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
16,Current liabilities:,NaN,NaN
17,Accounts payable,72539.0,63926.0
18,Accrued expenses and other,44138.0,40939.0
19,Unearned revenue,9708.0,10539.0
20,Total current liabilities,126385.0,115404.0
21,Long-term lease liabilities,52573.0,53067.0
22,Long-term debt,31816.0,31868.0
23,Other long-term liabilities,17017.0,19418.0
24,Commitments and contingencies (Note 4),NaN,NaN
25,Stockholders’ equity:,NaN,NaN
26,"Preferred stock, $0.01 par value:",NaN,NaN
27,Authorized shares — 500,NaN,NaN
28,Issued and outstanding shares — none,NaN,NaN
29,"Common stock, $0.01 par value:",NaN,NaN
30,"Authorized shares — 5,000",NaN,NaN
31,Issued shares — 527 and 528,NaN,NaN
32,Outstanding shares — 503 and 504,5.0,5.0
33,"Treasury stock, at cost",-1837.0,-1837.0
34,Additional paid-in capital,42865.0,45160.0
35,Accumulated other comprehensive income (loss),-180.0,-666.0
36,Retained earnings,52551.0,60658.0
37,Total stockholders’ equity,93404.0,103320.0
38,Total liabilities and stockholders’ equity,321195.0,323077.0

In [9]:
# Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(str)

# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('(','-'))
# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(')',''))
# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(',',''))
# Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('—','nan'))

# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('(','-'))
# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(')',''))
# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(',',''))
# Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('—','nan'))

In [10]:
#Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(float)
# Balance_Sheet[Balance_Sheet.columns[0:1]] = Balance_Sheet[Balance_Sheet.columns[0:1]].astype(str)

In [11]:
Balance_Sheet.dtypes

1
Item                  object
December 31, 2020    float64
March 31, 2021       float64
dtype: object

In [12]:
for item in df:
    LL = item[0].astype(str).str.contains('Less: imputed interest') | item[0].astype(str).str.contains('Less: current portion of lease liabilities')
    if LL.any():
        Lease_liability = item

Lease_liability

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021","March 31, 2021"
2,NaN,NaN,NaN,Operating Leases,Operating Leases,Operating Leases,NaN,NaN,NaN,Finance Leases,Finance Leases,Finance Leases,NaN,NaN,NaN,Total,Total,Total
3,Gross lease liabilities,Gross lease liabilities,Gross lease liabilities,$,46762,NaN,NaN,NaN,NaN,$,28687,NaN,NaN,NaN,NaN,$,75449,NaN
4,Less: imputed interest,Less: imputed interest,Less: imputed interest,"(5,784)","(5,784)",NaN,NaN,NaN,NaN,"(1,895)","(1,895)",NaN,NaN,NaN,NaN,"(7,679)","(7,679)",NaN
5,Present value of lease liabilities,Present value of lease liabilities,Present value of lease liabilities,40978,40978,NaN,NaN,NaN,NaN,26792,26792,NaN,NaN,NaN,NaN,67770,67770,NaN
6,Less: current portion of lease liabilities,Less: current portion of lease liabilities,Less: current portion of lease liabilities,"(4,841)","(4,841)",NaN,NaN,NaN,NaN,"(9,862)","(9,862)",NaN,NaN,NaN,NaN,"(14,703)","(14,703)",NaN
7,Total long-term lease liabilities,Total long-term lease liabilities,Total long-term lease liabilities,$,36137,NaN,NaN,NaN,NaN,$,16930,NaN,NaN,NaN,NaN,$,53067,NaN

In [13]:
Lease_liability = Lease_liability.iloc[1:,[2,4,10,16]] # selecting the  relevant columns
Lease_liability

,2,4,10,16
1,NaN,"March 31, 2021","March 31, 2021","March 31, 2021"
2,NaN,Operating Leases,Finance Leases,Total
3,Gross lease liabilities,46762,28687,75449
4,Less: imputed interest,"(5,784)","(1,895)","(7,679)"
5,Present value of lease liabilities,40978,26792,67770
6,Less: current portion of lease liabilities,"(4,841)","(9,862)","(14,703)"
7,Total long-term lease liabilities,36137,16930,53067

In [14]:
#grab the first row for the header
header = Lease_liability.iloc[1]
Lease_liability = Lease_liability[2:] #take the data less the header row
Lease_liability.columns = header # assigning header names 
Lease_liability.columns.values[0] = 'Item' # renaming the first column
Lease_liability

2,Item,Operating Leases,Finance Leases,Total
3,Gross lease liabilities,46762,28687,75449
4,Less: imputed interest,"(5,784)","(1,895)","(7,679)"
5,Present value of lease liabilities,40978,26792,67770
6,Less: current portion of lease liabilities,"(4,841)","(9,862)","(14,703)"
7,Total long-term lease liabilities,36137,16930,53067

In [15]:
symbol_handling(Lease_liability,[1,2,3])

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

2,Item,Operating Leases,Finance Leases,Total
3,Gross lease liabilities,46762.0,28687.0,75449.0
4,Less: imputed interest,-5784.0,-1895.0,-7679.0
5,Present value of lease liabilities,40978.0,26792.0,67770.0
6,Less: current portion of lease liabilities,-4841.0,-9862.0,-14703.0
7,Total long-term lease liabilities,36137.0,16930.0,53067.0

In [16]:
for item in df:
    dbt = item[0].astype(str).str.contains('Less current portion of long-term debt') 
    if dbt.any():
        Debt = item

Debt

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Maturities (1),Maturities (1),Maturities (1),NaN,NaN,NaN,Stated Interest Rates,...,NaN,"December 31, 2020","December 31, 2020","December 31, 2020",NaN,NaN,NaN,"March 31, 2021","March 31, 2021","March 31, 2021"
2,2012 Notes issuance of $3.0 billion,2012 Notes issuance of $3.0 billion,2012 Notes issuance of $3.0 billion,2022,2022,2022,NaN,NaN,NaN,2.50%,...,NaN,1250,1250,NaN,NaN,NaN,NaN,1250,1250,NaN
3,2014 Notes issuance of $6.0 billion,2014 Notes issuance of $6.0 billion,2014 Notes issuance of $6.0 billion,2021 - 2044,2021 - 2044,2021 - 2044,NaN,NaN,NaN,3.30% - 4.95%,...,NaN,5000,5000,NaN,NaN,NaN,NaN,5000,5000,NaN
4,2017 Notes issuance of $17.0 billion,2017 Notes issuance of $17.0 billion,2017 Notes issuance of $17.0 billion,2023 - 2057,2023 - 2057,2023 - 2057,NaN,NaN,NaN,2.40% - 5.20%,...,NaN,16000,16000,NaN,NaN,NaN,NaN,16000,16000,NaN
5,2020 Notes issuance of $10.0 billion,2020 Notes issuance of $10.0 billion,2020 Notes issuance of $10.0 billion,2023 - 2060,2023 - 2060,2023 - 2060,NaN,NaN,NaN,0.40% - 2.70%,...,NaN,10000,10000,NaN,NaN,NaN,NaN,10000,10000,NaN
6,Credit Facility,Credit Facility,Credit Facility,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,338,338,NaN,NaN,NaN,NaN,429,429,NaN
7,Other long-term debt,Other long-term debt,Other long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,586,586,NaN,NaN,NaN,NaN,548,548,NaN
8,Total face value of long-term debt,Total face value of long-term debt,Total face value of long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33174,33174,NaN,NaN,NaN,NaN,33227,33227,NaN
9,"Unamortized discount and issuance costs, net","Unamortized discount and issuance costs, net","Unamortized discount and issuance costs, net",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,(203),(203),NaN,NaN,NaN,NaN,(203),(203),NaN
10,Less current portion of long-term debt,Less current portion of long-term debt,Less current portion of long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"(1,155)","(1,155)",NaN,NaN,NaN,NaN,"(1,156)","(1,156)",NaN
11,Long-term debt,Long-term debt,Long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,$,31816,NaN,NaN,NaN,NaN,$,31868,NaN

In [17]:
Debt = Debt.iloc[1:,[2,22,28]] # selecting the  relevant columns
Debt

,2,22,28
1,NaN,"December 31, 2020","March 31, 2021"
2,2012 Notes issuance of $3.0 billion,1250,1250
3,2014 Notes issuance of $6.0 billion,5000,5000
4,2017 Notes issuance of $17.0 billion,16000,16000
5,2020 Notes issuance of $10.0 billion,10000,10000
6,Credit Facility,338,429
7,Other long-term debt,586,548
8,Total face value of long-term debt,33174,33227
9,"Unamortized discount and issuance costs, net",(203),(203)
10,Less current portion of long-term debt,"(1,155)","(1,156)"
11,Long-term debt,31816,31868

In [18]:
header = Debt.iloc[0]
Debt = Debt[1:] #take the data less the header row
Debt.columns = header # assigning header names 
Debt.columns.values[0] = 'Item' # renaming the first column
Debt

1,Item,"December 31, 2020","March 31, 2021"
2,2012 Notes issuance of $3.0 billion,1250,1250
3,2014 Notes issuance of $6.0 billion,5000,5000
4,2017 Notes issuance of $17.0 billion,16000,16000
5,2020 Notes issuance of $10.0 billion,10000,10000
6,Credit Facility,338,429
7,Other long-term debt,586,548
8,Total face value of long-term debt,33174,33227
9,"Unamortized discount and issuance costs, net",(203),(203)
10,Less current portion of long-term debt,"(1,155)","(1,156)"
11,Long-term debt,31816,31868

In [19]:
symbol_handling(Debt,[1,2])

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sayandeep Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

1,Item,"December 31, 2020","March 31, 2021"
2,2012 Notes issuance of $3.0 billion,1250.0,1250.0
3,2014 Notes issuance of $6.0 billion,5000.0,5000.0
4,2017 Notes issuance of $17.0 billion,16000.0,16000.0
5,2020 Notes issuance of $10.0 billion,10000.0,10000.0
6,Credit Facility,338.0,429.0
7,Other long-term debt,586.0,548.0
8,Total face value of long-term debt,33174.0,33227.0
9,"Unamortized discount and issuance costs, net",-203.0,-203.0
10,Less current portion of long-term debt,-1155.0,-1156.0
11,Long-term debt,31816.0,31868.0

In [20]:
# Balance_Sheet.reset_index(drop=True,inplace=True)
# Lease_liability.reset_index(drop=True,inplace=True)
# Debt.reset_index(drop=True,inplace=True)
Balance_Sheet.set_index(['Item'],inplace=True)
Lease_liability.set_index(['Item'],inplace=True)
Debt.set_index(['Item'],inplace=True)

In [21]:
Balance_Sheet

1,"December 31, 2020","March 31, 2021"
Item,,
ASSETS,NaN,NaN
Current assets:,NaN,NaN
Cash and cash equivalents,42122.0,33834.0
Marketable securities,42274.0,39436.0
Inventories,23795.0,23849.0
"Accounts receivable, net and other",24542.0,24289.0
Total current assets,132733.0,121408.0
"Property and equipment, net",113114.0,121461.0
Operating leases,37553.0,39328.0
Goodwill,15017.0,15220.0
Other assets,22778.0,25660.0
Total assets,321195.0,323077.0
LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
Current liabilities:,NaN,NaN
Accounts payable,72539.0,63926.0
Accrued expenses and other,44138.0,40939.0
Unearned revenue,9708.0,10539.0
Total current liabilities,126385.0,115404.0
Long-term lease liabilities,52573.0,53067.0
Long-term debt,31816.0,31868.0
Other long-term liabilities,17017.0,19418.0
Commitments and contingencies (Note 4),NaN,NaN
Stockholders’ equity:,NaN,NaN
"Preferred stock, $0.01 par value:",NaN,NaN
Authorized shares — 500,NaN,NaN
Issued and outstanding shares — none,NaN,NaN
"Common stock, $0.01 par value:",NaN,NaN
"Authorized shares — 5,000",NaN,NaN
Issued shares — 527 and 528,NaN,NaN
Outstanding shares — 503 and 504,5.0,5.0
"Treasury stock, at cost",-1837.0,-1837.0
Additional paid-in capital,42865.0,45160.0
Accumulated other comprehensive income (loss),-180.0,-666.0
Retained earnings,52551.0,60658.0
Total stockholders’ equity,93404.0,103320.0
Total liabilities and stockholders’ equity,321195.0,323077.0

In [22]:
Lease_liability

2,Operating Leases,Finance Leases,Total
Item,,,
Gross lease liabilities,46762.0,28687.0,75449.0
Less: imputed interest,-5784.0,-1895.0,-7679.0
Present value of lease liabilities,40978.0,26792.0,67770.0
Less: current portion of lease liabilities,-4841.0,-9862.0,-14703.0
Total long-term lease liabilities,36137.0,16930.0,53067.0

In [23]:
Debt

1,"December 31, 2020","March 31, 2021"
Item,,
2012 Notes issuance of $3.0 billion,1250.0,1250.0
2014 Notes issuance of $6.0 billion,5000.0,5000.0
2017 Notes issuance of $17.0 billion,16000.0,16000.0
2020 Notes issuance of $10.0 billion,10000.0,10000.0
Credit Facility,338.0,429.0
Other long-term debt,586.0,548.0
Total face value of long-term debt,33174.0,33227.0
"Unamortized discount and issuance costs, net",-203.0,-203.0
Less current portion of long-term debt,-1155.0,-1156.0
Long-term debt,31816.0,31868.0

In [24]:
date= 'March 31, 2021'

st_debt = Lease_liability['Finance Leases']['Less: current portion of lease liabilities'] + Debt[date]['Less current portion of long-term debt']
lt_debt = Lease_liability['Finance Leases']['Total long-term lease liabilities'] + Debt[date]['Long-term debt']
cash_eqiv = Balance_Sheet[date]['Cash and cash equivalents'] + Balance_Sheet[date]['Marketable securities']
bso = 2

## ***6-k***

In [25]:
df1 = pd.read_html('baba-20210331x20f.htm')
#df1

In [26]:
len(df1)

868

In [27]:
for i in range(len(df1)):
    print(i,df1[i])

0     0                                                  1
0   ☐  REGISTRATION STATEMENT PURSUANT TO SECTION 12(...
1  OR                                                 OR
2   ☒  ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(D) ...
3   ​                                                  ​
4  OR                                                 OR
5   ☐  TRANSITION REPORT PURSUANT TO SECTION 13 OR 15...
6  OR                                                 OR
7   ☐  SHELL COMPANY REPORT PURSUANT TO SECTION 13 OR...
1                                                    0    1                  2  \
0                                                  ​    ​                  ​
1                                Title of each class  NaN  Trading Symbol(s)
2  Ordinary Shares, par value US$0.000003125 per ...    ​           9988BABA

     3                                                  4
0    ​                                                  ​
1  NaN          Name of each exchange on which registered
2    ​  The Stock Exchange of Hong Kong LimitedNew Yor...
2                            0                    1                        2  \
0  Large accelerated filer ⌧  Accelerated filer ◻  Non-accelerated filer ◻

                           3
0  Emerging growth company ☐
3              0                                                  1        2
0  U.S. GAAP ⌧  International Financial Reporting Standards as...  Other ◻
4                                                     0  \
0                                                   ​
1                                                   ​
2                                                 NaN
3    LETTER FROM OUR CHAIRMAN AND CEO TO SHAREHOLDERS
4   CONVENTIONS THAT APPLY TO THIS ANNUAL REPORT O...
5                          FORWARD-LOOKING STATEMENTS
6                                                   ​
7                                             ITEM 1.
8                                             ITEM 2.
9                                             ITEM 3.
10                                            ITEM 4.
11                                           ITEM 4A.
12                                            ITEM 5.
13                                            ITEM 6.
14                                            ITEM 7.
15                                            ITEM 8.
16                                            ITEM 9.
17                                           ITEM 10.
18                                           ITEM 11.
19                                           ITEM 12.
20                                            PART II
21                                           ITEM 13.
22                                           ITEM 14.
23                                           ITEM 15.
24                                          ITEM 16A.
25                                          ITEM 16B.
26                                          ITEM 16C.
27                                          ITEM 16D.
28                                          ITEM 16E.
29                                          ITEM 16F.
30                                          ITEM 16G.
31                                          ITEM 16H.
32                                           PART III
33                                           ITEM 17.
34                                           ITEM 18.
35                                           ITEM 19.

                                                    1         2
0                                                   ​       NaN
1                                                   ​      Page
2                                                 NaN       NaN
3    LETTER FROM OUR CHAIRMAN AND CEO TO SHAREHOLDERS        ii
4   CONVENTIONS THAT APPLY TO THIS ANNUAL REPORT O...        iv
5                          FORWARD-LOOKING STATEMENTS         x
6                                              PART I         ​
7   IDENTITY OF DIRECTORS, SENIOR MANAGEMENT AND A...         1
8             OFFER STATISTICS AND EXPECTED TIMETABLE         1
9                                     KEY INFORMATION         1
10                         INFORMATION ON THE COMPANY        60
11                          UNRESOLVED STAFF COMMENTS       116
12       OPERATING AND FINANCIAL REVIEW AND PROSPECTS       116
13         DIRECTORS, SENIOR MANAGEMENT AND EMPLOYEES       153
14  MAJOR SHAREHOLDERS AND RELATED PARTY TRANSACTIONS       171
15                              FINANCIAL INFORMATION       188
16                              THE OFFER AND LISTING       190
17                             ADDITIONAL INFORMATION       191
18  QUANTITATIVE AND QUALITATIVE DISCLOSURES ABOUT...       199
19  DESCRIPTION OF SECURITIES OTHER THAN EQUITY SE...       200
20                                            PART II   PART II
21    DEFAULTS, DIVIDEND ARREARAGES AND DELINQUENCIES       206
22  MATERIAL MODIFICATIONS TO THE RIGHTS OF SECURI...       206
23                            CONTROLS AND PROCEDURES       206
24                   AUDIT COMMITTEE FINANCIAL EXPERT       207
25                                     CODE OF ETHICS       207
26             PRINCIPAL ACCOUNTANT FEES AND SERVICES       207
27  EXEMPTIONS FROM THE LISTING STANDARDS FOR AUDI...       207
28  PURCHASES OF EQUITY SECURITIES BY THE ISSUER A...       207
29       CHANGE IN REGISTRANT’S CERTIFYING ACCOUNTANT       208
30                               CORPORATE GOVERNANCE       209
31                             MINE SAFETY DISCLOSURE       210
32                                           PART III  PART III
33                               FINANCIAL STATEMENTS       211
34                               FINANCIAL STATEMENTS       211
35                                           EXHIBITS       211
5      0                                                  1
0  (1)  By revenue in 2020 in U.S. dollars, according ...
6     0  1                                                  2
0 NaN  ●  “2019 PRC Foreign Investment Law” are to the P...
7     0  1                                                  2
0 NaN  ●  “ADSs” are to the American depositary shares, ...
8     0  1                                     2
0 NaN  ●  “AI” are to artificial intelligence;
9     0  1                                                  2
0 NaN  ●  “Alibaba,” “Alibaba Group,” “company,” “our co...
10     0  1                                                  2
0 NaN  ●  “Alibaba Health” are to Alibaba Health Informa...
11     0  1                                                  2
0 NaN  ●  “Alibaba Pictures” are to Alibaba Pictures Gro...
12     0  1                                                  2
0 NaN  ●  “Alipay” are to Alipay.com Co., Ltd., a compan...
13     0  1                                                  2
0 NaN  ●  “Altaba” are to Altaba Inc. (formerly known as...
14     0  1                                                  2
0 NaN  ●  “Amap” are to AutoNavi Holdings Limited, a com...
15     0  1                                                  2
0 NaN  ●  “Analysys” are to Analysys, a research institu...
16     0  1                                                  2
0 NaN  ●  “annual active consumers” are to user accounts...
17     0  1                                                  2
0 NaN  ●  “Ant Group” are to Ant Group Co., Ltd. (former...
18     0  1                                                  2
0 NaN  ●  “Articles” or “Articles of Association” are to...
19     0  1                                                  2
0 NaN  ●  “board” or “board of directors” are to our boa...
20     0  1                                                  2
0 NaN  ●  “Bulletin 7” are to the Bulletin on Issues of ...
21     0  1                                                  2
0 NaN  ●  “Bulletin 37” are to the Announcement on Issue...
22     0  1                                                  2
0 NaN  ●  “business day” are to any day (other than a Sa...
23     0  1                                                  2
0 NaN  ●  “Cainiao Network” are to Cainiao Smart Logisti...
24     0  1                                                  2
0 NaN  ●  “CCASS” are to the Central Clearing and Settle...
25     0  1                                                  2
0 NaN  ●  “China” and the “PRC” are to the People’s Repu...
26     0  1                                                  2
0 NaN  ●  “Circular 82” are to the Notice Regarding the ...
27     0  1                                                  2
0 NaN  ●  “Companies (WUMP) Ordinance” are to the Compan...
28     0  1                                               2
0 NaN  ●  “CRM” are to customer relationship management;
29     0  1                                                  2
0 NaN  ●  “CSRC” are to the China Securities Regulatory ...
30     0  1                                                  2
0 NaN  ●  “Damai” are to Pony Media Holdings Inc., a com...
31     0  1                                                  2
0 NaN  ●  “Deposit Agreement” are to the deposit agreeme...
32     0  1                                                  2
0 NaN  ●  “director(s)” are to member(s) of our board, u...
33     0  1                                                  2
0 NaN  ●  “DTC” are to The Depository Trust Company, the...
34     0  1                                                  2
0 NaN  ●  “EIT” are to enterprise income tax under the E...
35     0  1                                                  2
0 NaN  ●  “EIT Law” are to the PRC Enterprise Income Tax...
36     0  1                                                  2
0 NaN  ●  “Ele.me” are to Rajax Holding, a company incor...
37     0  1                                           2
0 NaN  ●  “ERP” are to enterprise resource planning;
38     0  1                                2
0 NaN  ●  “EU” are to the European Union;
39     0  1                                          2
0 NaN  ●  “FMCG” are to fast-moving consumer goods;
40     0  1                                                  2
0 NaN  ●  “foreign private issuer” are to such term as d...
41     0  1                                                  2
0 NaN  ●  “Forrester” are to Forrester Research, Inc., a...
42     0  1                                                  2
0 NaN  ●  “Gartner” are to Gartner, Inc.; the Gartner co...
43     0  1                                     2
0 NaN  ●  “GDP” are to gross domestic product;
44     0  1                                                  2
0 NaN  ●  “GDPR” are to the EU General Data Protection R...
45     0  1                                                  2
0 NaN  ●  “GMV” or “Gross Merchandise Value” are to the ...
46     0  1                                                  2
0 NaN  ●  “HK$” or “Hong Kong dollars” are to Hong Kong ...
47     0  1                                                  2
0 NaN  ●  “Hong Kong” or “HK” or “Hong Kong S.A.R.” are ...
48     0  1                                                  2
0 NaN  ●  “Hong Kong Listing Rules” are to the Rules Gov...
49     0  1                                                  2
0 NaN  ●  “Hong Kong Share Registrar” are to Computersha...
50     0  1                                                  2
0 NaN  ●  “Hong Kong Stock Exchange” are to The Stock Ex...
51     0  1                                           2
0 NaN  ●  “IaaS” are to infrastructure-as-a-service;
52     0  1                                              2
0 NaN  ●  “ICP(s)” are to Internet content provider(s);
53     0  1                                                  2
0 NaN  ●  “IDC” are to International Data Corporation, a...
54     0  1                                                  2

0 NaN  ●  “Internet Advertising Measures” are to the Int...
55     0  1                                                  2
0 NaN  ●  “Intime” are to Intime Retail (Group) Company ...
56     0  1                                 2
0 NaN  ●  “IoT” are to Internet of things;
57     0  1                                    2
0 NaN  ●  “IT” are to information technology;
58     0  1                                                  2
0 NaN  ●  “Junao” are to Hangzhou Junao Equity Investmen...
59     0  1                                                  2
0 NaN  ●  “Junhan” are to Hangzhou Junhan Equity Investm...
60     0  1                                                  2
0 NaN  ●  “Kaola” are to HQG, Inc., a company incorporat...
61     0  1                                  2
0 NaN  ●  “KOL” are to key opinion leaders;
62     0  1                                                  2
0 NaN  ●  “Koubei” are to Koubei Holding Limited, a comp...
63     0  1                                                  2
0 NaN  ●  “Lazada” are to Lazada South East Asia Pte. Lt...
64     0  1                                                  2
0 NaN  ●  “M&A Rules” are to the Rules on the Merger and...
65     0  1                                                  2
0 NaN  ●  “Main Board” are to the stock market (excludin...
66     0  1                                                  2
0 NaN  ●  “major subsidiaries” and “major variable inter...
67     0  1                                                  2
0 NaN  ●  “Memorandum” are to our memorandum of associat...
68     0  1                                                  2
0 NaN  ●  “MIIT” are to the Ministry of Industry and Inf...
69     0  1                                                  2
0 NaN  ●  “mobile monthly active users” or “mobile MAUs”...
70     0  1                                                 2
0 NaN  ●  “MOF” are to the Ministry of Finance of the PRC;
71     0  1                                                  2
0 NaN  ●  “MOFCOM” are to the Ministry of Commerce of th...
72     0  1                                                  2
0 NaN  ●  “National Security Law” are to the PRC Nationa...
73     0  1                                                  2
0 NaN  ●  “NDRC” are to the National Development and Ref...
74     0  1                                                  2
0 NaN  ●  “Negative List” are to the Special Administrat...
75     0  1                                           2
0 NaN  ●  “NYSE” are to the New York Stock Exchange;
76     0  1                                                  2
0 NaN  ●  “orders” unless the context otherwise requires...
77     0  1                                                  2
0 NaN  ●  our “China retail marketplaces” are to Taobao ...
78     0  1                                                  2
0 NaN  ●  our “wholesale marketplaces” or “B2B business”...
79     0  1                                  2
0 NaN  ●  “P4P” are to pay-for-performance;
80     0  1                                     2
0 NaN  ●  “PaaS” are to platform-as-a-service;
81     0  1                                          2
0 NaN  ●  “PBOC” are to the People’s Bank of China;
82     0  1                                                  2
0 NaN  ●  “PCAOB” are to the Public Company Accounting O...
83     0  1                                                  2
0 NaN  ●  “PRC government” or “State” are to the central...
84     0  1                                                  2
0 NaN  ●  “Principal Share Registrar” are to Maples Fund...
85     0  1                                                  2
0 NaN  ●  “PUE” or “power usage effectiveness” are to th...
86     0  1                                                  2
0 NaN  ●  “QuestMobile” are to QuestMobile, a research i...
87     0  1                                                  2
0 NaN  ●  “RMB” or “Renminbi” are to Renminbi, the lawfu...
88     0  1                                          2
0 NaN  ●  “RSU(s)” are to restricted share unit(s);
89     0  1                                     2
0 NaN  ●  “SaaS” are to software-as-a-service;
90     0  1                                                  2
0 NaN  ●  “SAFE” are to the State Administration of Fore...
91     0  1                                                  2
0 NaN  ●  “SAFE Circular 37” are to the Circular on Rele...
92     0  1                                                  2
0 NaN  ●  “SAIC” are to State Administration for Industr...
93     0  1                                                  2
0 NaN  ●  “SAMR” are to the PRC State Administration for...
94     0  1                                                  2
0 NaN  ●  “SAPA” are to a share and asset purchase agree...
95     0  1                                                  2
0 NaN  ●  “SASAC” are to State-owned Assets Supervision ...
96     0  1                                                  2
0 NaN  ●  “SEC” are to the United States Securities and ...
97     0  1                                                  2
0 NaN  ●  “SFC” are to the Securities and Futures Commis...
98     0  1                                                  2
0 NaN  ●  “SFO” are to the Securities and Futures Ordina...
99     0  1                                                  2
0 NaN  ●  “Share Split” are to the subdivision of each o...
100     0  1                                                  2
0 NaN  ●  “shareholder(s)” are to holder(s) of Shares an...
101     0  1                                                  2
0 NaN  ●  “Share(s)” or “ordinary share(s)” are to ordin...
102     0  1                                                  2
0 NaN  ●  “SMEs” are to small and medium-sized enterprises;
103     0  1                                                  2
0 NaN  ●  “SoftBank” are to SoftBank Group Corp. (former...
104     0  1                                                  2
0 NaN  ●  “STA” are to the State Taxation Administration...
105     0  1                                                  2
0 NaN  ●  “Sun Art” are to Sun Art Retail Group Limited,...
106     0  1                                                  2
0 NaN  ●  “Takeovers Codes” are to Hong Kong’s Codes on ...
107     0  1                                                  2
0 NaN  ●  “UK” are to the United Kingdom of Great Britai...
108     0  1                                                  2
0 NaN  ●  “U.S.” or “United States” are to the United St...
109     0  1                                                  2
0 NaN  ●  “US$” or “U.S. dollars” are to the lawful curr...
110     0  1                                                  2
0 NaN  ●  “U.S. Exchange Act” are to the United States S...
111     0  1                                                  2
0 NaN  ●  “U.S. GAAP” are to accounting principles gener...
112     0  1                                                  2
0 NaN  ●  “U.S. Securities Act” are to the United States...
113     0  1                                                  2
0 NaN  ●  “USTR” are to the Office of the U.S. Trade Rep...
114     0  1                                                  2
0 NaN  ●  “variable interest entities” or “VIE(s)” are t...
115     0  1                                                  2
0 NaN  ●  “VAT” are to value-added tax; all amounts are ...
116     0  1                                                  2
0 NaN  ●  “VIE structure” or “Contractual Arrangements” ...
117     0  1                                                  2
0 NaN  ●  “VIE Structure Enhancement” are to the process...
118     0  1                                                  2
0 NaN  ●  “Youku” are to Youku Tudou Inc., a company inc...
119     0  1                                                  2
0 NaN  ●  “Yunfeng Fund(s)” are to one or more Yunfeng i...
120     0  1                                          2
0 NaN  ●  our growth strategies and business plans;
121     0  1                                                  2
0 NaN  ●  our future business development, results of op...
122     0  1                                                  2
0 NaN  ●  trends in commerce, cloud computing and digita...
123     0  1                               2
0 NaN  ●  competition in our industries;
124     0  1                                                  2
0 NaN  ●  fluctuations in general economic and business ...
125     0  1                                                  2
0 NaN  ●  expected changes in our revenues and certain c...
126     0  1                                                  2
0 NaN  ●  the completion of our investment transactions ...
127     0  1                                                  2
0 NaN  ●  expected results of regulatory investigations,...
128     0  1                                                  2
0 NaN  ●  international trade policies, protectionist po...
129     0  1                                                  2
0 NaN  ●  the regulatory environment in which we and com...
130     0  1                                  2
0 NaN  ●  impacts of the COVID-19 pandemic;
131     0  1                              2
0 NaN  ●  our sustainability goals; and
132     0  1                                                  2
0 NaN  ●  assumptions underlying or related to any of th...
133     0  1                                                  2
0 NaN  ●  Maintaining the trusted status of our ecosyste...
134     0  1                                                  2
0 NaN  ●  Sustained investment in our business, strategi...
135     0  1                                                  2
0 NaN  ●  We may not be able to maintain or grow our rev...
136     0  1                                                  2
0 NaN  ●  If we are unable to compete effectively, our b...
137     0  1                                                  2
0 NaN  ●  We may not be able to maintain and improve the...
138     0  1                                                  2
0 NaN  ●  We may not be able to maintain our culture, wh...
139     0  1                                                  2
0 NaN  ●  If we are not able to continue to innovate or ...
140     0  1                                                  2
0 NaN  ●  Our failure to manage the significant manageme...
141     0  1                                                  2
0 NaN  ●  We face risks relating to our acquisitions, in...
142     0  1                                                  2
0 NaN  ●  We face challenges in expanding our internatio...
143     0  1                                                  2
0 NaN  ●  Changes in international trade or investment p...
144     0  1                                                  2
0 NaN  ●  Export control, economic or trade sanctions an...
145     0  1                                                  2
0 NaN  ●  We may suffer reputational harm and the tradin...
146     0  1                                                  2
0 NaN  ●  We are subject to a broad range of laws and re...
147     0  1                                                  2
0 NaN  ●  We rely on Alipay to conduct substantially all...
148     0  1                                                  2
0 NaN  ●  Ant Group, which provides payment processing s...
149     0  1                                                  2
0 NaN  ●  Anti-monopoly and unfair competition claims or...
150     0  1                                                  2
0 NaN  ●  PRC regulations regarding acquisitions impose ...
151     0  1                                                  2
0 NaN  ●  Our business and technologies generate and pro...
152     0  1                                                  2
0 NaN  ●  Our business is subject to complex and evolvin...
153     0  1                                                  2
0 NaN  ●  The Alibaba Partnership and related voting agr...
154     0  1                                                  2
0 NaN  ●  The interests of the Alibaba Partnership may c...
155     0  1                                                  2
0 NaN  ●  SoftBank owns approximately 24.8% of our outst...
156     0  1                                                  2
0 NaN  ●  If the PRC government deems that the contractu...
157     0  1                                                  2
0 NaN  ●  Substantial uncertainties exist with respect t...
158     0  1                                                  2
0 NaN  ●  Changes and developments in the political and ...
159     0  1                                                  2
0 NaN  ●  There are uncertainties regarding the interpre...
160     0  1                                                  2
0 NaN  ●  If our auditor is sanctioned or otherwise pena...
161     0  1                                                  2
0 NaN  ●  The trading prices of our ADSs and Shares have...
162     0  1                                                  2
0 NaN  ●  the quality, value and functionality of produc...
163     0  1                                                  2
0 NaN  ●  the reliability and integrity of our company a...
164     0  1                                          2
0 NaN  ●  our commitment to high levels of service;
165     0  1                                                  2
0 NaN  ●  the safety, security and integrity of the data...
166     0  1                                                  2
0 NaN  ●  the manner in which we and other participants ...
167     0  1                                                  2
0 NaN  ●  the effectiveness and fairness of rules govern...
168     0  1                                                  2
0 NaN  ●  the strength of our measures to protect consum...
169     0  1                                                  2
0 NaN  ●  our ability to provide reliable and trusted pa...
170     0  1                                                  2
0 NaN  ●  expanding and enhancing our core commerce offe...

171     0  1                                                  2
0 NaN  ●  supporting our merchants, acquiring and retain...
172     0  1                                                  2
0 NaN  ●  strengthening and expanding various facilities...
173     0  1                                                  2
0 NaN  ●  researching and developing new technologies an...
174     0  1                                                  2
0 NaN  ●  developing and acquiring content for our digit...
175     0  1                                     2
0 NaN  ●  incubating new business initiatives.
176     0  1                                                  2
0 NaN  ●  attract, engage and retain consumers and incre...
177     0  1                                                  2
0 NaN  ●  attract and retain merchants, brands and retai...
178     0  1                                                  2
0 NaN  ●  attract and retain marketers, publishers and a...
179     0  1                                                  2
0 NaN  ●  maintain and grow local delivery capabilities ...
180     0  1                                                  2
0 NaN  ●  attract and retain a wide range of businesses ...
181     0  1                                                  2
0 NaN  ●  attract other participants to our ecosystem ba...
182     0  1                                                  2
0 NaN  ●  optimize the usefulness of the data and techno...
183     0  1                                                  2
0 NaN  ●  identify, bid for, and execute strategic inves...
184     0  1                                                  2
0 NaN  ●  innovate and develop new growth initiatives an...
185     0  1                                                  2
0 NaN  ●  attract motivated and capable employees, inclu...
186     0  1                                                  2
0 NaN  ●  offer secure and open platforms for all partic...
187     0  1                                                  2
0 NaN  ●  provide a wide range of high-quality product, ...
188     0  1                                                  2
0 NaN  ●  attract and retain a wide range of consumers, ...
189     0  1                                                  2
0 NaN  ●  provide effective technologies, infrastructure...
190     0  1                                                  2
0 NaN  ●  arrange secure and trusted payment settlement ...
191     0  1                                                  2
0 NaN  ●  address user concerns with respect to data sec...
192     0  1                                                  2
0 NaN  ●  improve our logistics data platform and coordi...
193     0  1                                                  2
0 NaN  ●  attract and retain third-party service provide...
194     0  1                                                  2
0 NaN  ●  maintain the quality of our customer service; and
195     0  1                                                  2
0 NaN  ●  continue adapting to the changing demands of t...
196     0  1                                                  2
0 NaN  ●  failure to identify, attract, promote and reta...
197     0  1                                                  2
0 NaN  ●  retirements and departures of founders, execut...
198     0  1                                                  2
0 NaN  ●  challenges of effectively incentivizing and mo...
199     0  1                                                  2
0 NaN  ●  the increasing size, complexity, geographic co...
200     0  1                                                  2
0 NaN  ●  challenges in managing a workforce that is exp...
201     0  1                                                  2
0 NaN  ●  competitive pressures to move in directions th...
202     0  1                                                  2
0 NaN  ●  the pressure from the public markets to focus ...
203     0  1                                                  2
0 NaN  ●  the increasing need to develop expertise in ne...
204     0  1                                                  2
0 NaN  ●  difficulties in, and significant and unanticip...
205     0  1                                                  2
0 NaN  ●  disruption of our ongoing business, distractio...
206     0  1                                                  2
0 NaN  ●  departure of skilled professionals and proven ...
207     0  1                                                  2
0 NaN  ●  for investments over which we may not obtain m...
208     0  1                                                  2
0 NaN  ●  additional or conflicting regulatory requireme...
209     0  1                                                  2
0 NaN  ●  actual or alleged misconduct, unscrupulous bus...
210     0  1                                                  2
0 NaN  ●  difficulties in identifying and selecting appr...
211     0  1                                                  2
0 NaN  ●  difficulties in conducting sufficient and effe...
212     0  1                                                  2
0 NaN  ●  negative impact on our cash and credit profile...
213     0  1                                                  2
0 NaN  ●  actual or potential impairment charges or writ...
214     0  1                                                  2
0 NaN  ●  challenges in replicating or adapting our comp...
215     0  1                                                  2
0 NaN  ●  challenges of maintaining efficient and consol...
216     0  1                                                  2
0 NaN  ●  lack of acceptance of our product and service ...
217     0  1                                                  2
0 NaN  ●  protectionist or national security policies th...
218     0  1                                2
0 NaN  ●  invest in or acquire companies;
219     0  1                                                  2
0 NaN  ●  develop, import or export certain technologies...
220     0  1                                                  2
0 NaN  ●  utilize technologies that are deemed by local ...
221     0  1                                                  2
0 NaN  ●  obtain or maintain the necessary licenses and ...
222     0  1                                                  2
0 NaN  ●  the need for increased resources to manage reg...
223     0  1                                                  2
0 NaN  ●  failure to attract and retain capable talent w...
224     0  1                                                  2
0 NaN  ●  compliance with privacy laws and data security...
225     0  1                                                  2
0 NaN  ●  heightened restrictions and barriers on the tr...
226     0  1                                                  2
0 NaN  ●  differing, complex and potentially adverse cus...
227     0  1                                                  2
0 NaN  ●  compliance with new and evolving laws and regu...
228     0  1                                                  2
0 NaN  ●  availability, reliability and security of inte...
229     0  1                                2
0 NaN  ●  exchange rate fluctuations; and
230     0  1                                                  2
0 NaN  ●  political instability and general economic or ...
231     0  1                                                  2
0 NaN  ●  dissatisfaction with Alipay’s services or lowe...
232     0  1                                                  2
0 NaN  ●  increasing competition, including from other e...
233     0  1                                                  2
0 NaN  ●  changes to rules or practices applicable to pa...
234     0  1                                                  2
0 NaN  ●  breach of users’ privacy and concerns over the...
235     0  1                                                  2
0 NaN  ●  service outages, system failures or failure to...
236     0  1                                                  2
0 NaN  ●  increasing costs to Alipay, including fees cha...
237     0  1                                                  2
0 NaN  ●  negative news about and social media coverage ...
238     0  1                                                  2
0 NaN  ●  failure to manage user funds accurately or los...
239     0  1                                                  2
0 NaN  ●  protecting the data in and hosted on our syste...
240     0  1                                                  2
0 NaN  ●  addressing concerns, challenges, negative publ...
241     0  1                                                  2
0 NaN  ●  complying with applicable laws, rules and regu...
242     0  1                                                  2
0 NaN  ●  a provision that grants authority to our board...
243     0  1                                                  2
0 NaN  ●  a provision that a business combination, if it...
244     0  1                                                  2
0 NaN  ●  a classified board with staggered terms that w...
245     0  1                                                  2
0 NaN  ●  tightening oversight of data security, cross-b...
246     0  1                                                  2
0 NaN  ●  enhanced oversight of overseas listed companie...
247     0  1                                                  2
0 NaN  ●  extraterritorial application of China’s securi...
248     0  1                                                  2
0 NaN  ●  investments through enterprises established fo...
249     0  1                                                  2
0 NaN  ●  investments with amounts far exceeding the reg...
250     0  1                                                  2
0 NaN  ●  investments in targets that are unrelated to o...
251     0  1                                                  2
0 NaN  ●  investments with abnormal sources of Renminbi ...
252     0  1                                                  2
0 NaN  ●  variations in our results of operations or ear...
253     0  1                                                  2
0 NaN  ●  publication of operating or industry metrics b...
254     0  1                                                  2
0 NaN  ●  announcements made by us or our competitors of...
255     0  1                                                  2
0 NaN  ●  media and other reports, whether or not true, ...
256     0  1                                                  2
0 NaN  ●  litigation and regulatory allegations or proce...
257     0  1                                                2
0 NaN  ●  changes in pricing we or our competitors adopt;
258     0  1                                              2
0 NaN  ●  additions to or departures of our management;
259     0  1                                                  2
0 NaN  ●  actual or perceived general industry, regulato...
260     0  1                                                  2
0 NaN  ●  some investors or analysts may invest in or va...
261     0  1                                                  2
0 NaN  ●  the inclusion, exclusion, or removal of our AD...
262     0  1                                                  2
0 NaN  ●  political or market instability or disruptions...
263     0  1                                                  2
0 NaN  ●  fluctuations of exchange rates among the Renmi...
264     0  1                                                  2
0 NaN  ●  sales or perceived potential sales or other di...
265     0  1                                                  2
0 NaN  ●  the creation by our major shareholders of vehi...
266     0  1                                                  2
0 NaN  ●  have a majority of the board be independent (a...
267     0  1                                                  2
0 NaN  ●  have a compensation committee or a nominating ...
268     0  1                                                  2
0 NaN  ●  have regularly scheduled executive sessions fo...
269     0  1                                                  2
0 NaN  ●  have executive sessions of solely independent ...
270     0  1                                                  2
0 NaN  ●  we have failed to timely provide the depositar...
271     0  1                                                  2
0 NaN  ●  we have instructed the depositary that we do n...
272     0  1                                                  2
0 NaN  ●  we have informed the depositary that there is ...
273     0  1                                                  2
0 NaN  ●  a matter to be voted on at the meeting would h...
274     0  1                                                  2
0 NaN  ●  voting at the meeting is made on a show of hands.
275     0  1                                                  2
0 NaN  ●  Taobao Holding Limited, an exempted company in...
276     0  1                                                  2
0 NaN  ●  Taobao China Holding Limited, a limited liabil...
277     0  1                                                  2

0 NaN  ●  Taobao (China) Software Co., Ltd. 淘宝（中国）软件有限公司...
278     0  1                                                  2
0 NaN  ●  Zhejiang Tmall Technology Co., Ltd. 浙江天猫技术有限公司...
279     0  1                                                  2
0 NaN  ●  Alibaba (Beijing) Software Services Co. Ltd. 阿...
280     0  1                                                  2
0 NaN  ●  Alibaba Investment Limited, a company incorpor...
281     0  1                                                  2
0 NaN  ●  Alibaba.com Investment Holding Limited, a comp...
282     0  1                                                  2
0 NaN  ●  Customers first, employees second, shareholder...
283     0  1                                                  2
0 NaN  ●  Trust makes everything simple – Trust is both ...
284     0  1                                                  2
0 NaN  ●  Change is the only constant – Whether you chan...
285     0  1                                                  2
0 NaN  ●  Today’s best performance is tomorrow’s baselin...
286     0  1                                                  2
0 NaN  ●  If not now, when? If not me, who? – This was a...
287     0  1                                                  2
0 NaN  ●  Live seriously, work happily – Work is now, li...
288     0    1                                                  2
0 NaN  (1)  Ant Group provides digital payment services an...
289     0  1                         2
0 NaN  ●  Retail commerce – China;
290     0  1                            2
0 NaN  ●  Wholesale commerce – China;
291     0  1                                           2
0 NaN  ●  Retail commerce – cross-border and global;
292     0  1                                              2
0 NaN  ●  Wholesale commerce – cross-border and global;
293     0  1                        2
0 NaN  ●  Logistics services; and
294     0  1                   2
0 NaN  ●  Consumer services.
295     0  1                                                  2
0 NaN  ●  Consumers. We serve a large and growing consum...
296     0  1                                                  2
0 NaN  ●  Products and Services. We believe the Alibaba ...
297     0  1                                                  2
0 NaN  ●  Engagement. The massive amount of user and mer...
298     0  1                                                  2
0 NaN  ●  Product and supply chain capabilities – We bel...
299     0  1                                                  2
0 NaN  ●  Fulfillment and delivery expertise – We have d...
300     0  1                                                  2
0 NaN  ●  Consumer management capabilities – We continue...
301     0  1                                                  2
0 NaN  ●  Social commerce channel development and operat...
302     0  1                                                  2
0 NaN  •  Cloud Operating System – Apsara, our proprieta...
303     0  1                                                  2
0 NaN  •  Database – We have developed the next-generati...
304     0  1                                                  2
0 NaN  •  Serverless – In the first quarter of 2021, For...
305     0  1                                                  2
0 NaN  ●  Real-time Communication. DingTalk offers secur...
306     0  1                                                  2
0 NaN  ●  Digital Organization Management. DingTalk faci...
307     0  1                                                  2
0 NaN  ●  Efficient Collaboration. DingTalk users have e...
308     0  1                                                  2
0 NaN  ●  Operations Enhancement. On DingTalk, enterpris...
309     0  1                                                  2
0 NaN  ●  Vibrant Platform. DingTalk’s open platform sup...
310     0  1                                                  2
0 NaN  ●  Wealth management. Ant Group partners with fin...
311     0  1                                                  2
0 NaN  ●  Micro financing. Ant Group partners with banks...
312     0  1                                                  2
0 NaN  ●  Insurance. Ant Group partners with insurance c...
313     0  1                                                  2
0 NaN  ●  World-class notice-and-takedown system. We ope...
314     0  1                                                  2
0 NaN  ●  Technology-driven proactive monitoring. We uti...
315     0  1                                                  2
0 NaN  ●  Offline enforcement. We also work closely with...
316     0  1                                                  2
0 NaN  ●  requiring the use of merchants’ real identitie...
317     0  1                                                  2
0 NaN  ●  analyzing transaction patterns to identify ano...
318     0  1                                                  2
0 NaN  ●  enabling consumers and merchants to report sus...
319     0  1                                                  2
0 NaN  ●  maintaining a “blacklist” of merchants who hav...
320     0  1                                                  2
0 NaN  ●  collaborating with law enforcement authorities...
321     0  1                                                  2
0 NaN  ●  permanently banning merchants from opening acc...
322     0  1                          2
0 NaN  ●  closing down storefronts,
323     0  1                                                  2
0 NaN  ●  limiting merchants’ ability to add listings, a...
324     0  1                                                  2
0 NaN  ●  imposing restrictions on participation in prom...
325     0  1                                                  2
0 NaN  ●  Consumers. We compete to attract, engage and r...
326     0  1                                                  2
0 NaN  ●  Merchants, Brands, Retailers and other Busines...
327     0  1                                                  2
0 NaN  ●  Marketers. We compete to attract and retain ma...
328     0  1                                                  2
0 NaN  ●  Talent. We compete for motivated and capable t...
329     0  1                                                  2
0 NaN  ●  the Advertising Law of the PRC (2021, as amend...
330     0  1                                                  2
0 NaN  ●  the Advertising Administrative Regulations (19...
331     0  1                                                  2
0 NaN  ●  the Administrative Regulations on Internet Inf...
332     0  1                                          2
0 NaN  ●  the Internet Advertising Measures (2016).
333     0  1                                                  2
0 NaN  ●  online advertisements for prescription medicin...
334     0  1                                                  2
0 NaN  ●  Internet advertisements must be visibly marked...
335     0  1                                                  2
0 NaN  ●  Internet advertisements must not affect users’...
336     0  1                                                  2
0 NaN  ●  gaining improper entry into a computer or syst...
337     0  1                                                  2
0 NaN  ●  disseminating politically disruptive informati...
338     0  1                       2
0 NaN  ●  leaking State secrets;
339     0  1                                           2
0 NaN  ●  spreading false commercial information; or
340     0  1                                         2
0 NaN  ●  infringing intellectual property rights.
341     0  1                                                  2
0 NaN  ●  an online micro-lending company must obtain th...
342     0  1                                                  2
0 NaN  ●  an online micro-lending company shall provide ...
343     0  1                                                  2
0 NaN  ●  the amount of the balance of the loan that an ...
344      0                                                 1
0  (1)  A holding company for our strategic investments.
345      0                                                  1
0  (2)  Holding company for subsidiaries relating to A...
346      0                                                  1
0  (3)  Primarily involved in the operation of Taobao ...
347      0                                              1
0  (4)  Primarily involved in the operation of Tmall.
348      0                                                  1
0  (5)  Provides online marketing-related software and...
349      0                                                  1
0  (6)  Primarily involved in the operation of Cainiao...
350      0                                                  1
0  (7)  Primarily involved in the operation of our clo...
351      0                                                  1
0  (8)  Primarily involved in the operation of Youku’s...
352      0                            1
0  (9)  A variable interest entity.
353     0  1                                                  2
0 NaN  ●  reduce the key man and succession risks associ...
354     0  1                                                  2
0 NaN  ●  create a VIE ownership structure that is more ...
355     0  1                                                  2
0 NaN  ●  further enhance our control over the VIEs thro...
356      0                                                  1
0  (1)  Selected members of the Alibaba Partnership or...
357     0  1                                                  2
0 NaN  ●  the ownership structures of our major wholly-o...
358     0  1                                                  2
0 NaN  ●  the contractual arrangements between our major...
359     0  1               2
0 NaN  ●  Core commerce;
360     0  1                 2
0 NaN  ●  Cloud computing;
361     0  1                                     2
0 NaN  ●  Digital media and entertainment; and
362     0  1                                   2
0 NaN  ●  Innovation initiatives and others.
363     0  1                                                  2
0 NaN  ●  Core commerce. The core commerce segment is co...
364     0  1                                                  2
0 NaN  ●  Cloud computing. The cloud computing segment i...
365     0  1                                                  2
0 NaN  ●  Digital media and entertainment. The digital m...
366     0  1                                                  2
0 NaN  ●  Innovation initiatives and others. The innovat...
367                                                    0    1   \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​    ​
3                                                   ​    ​
4                                                   ​    ​
5                                                   ​  NaN
6                                                 NaN  NaN
7                                                   ​    ​
8                                             Revenue    ​
9                       Income (Loss) from operations    ​
10              Add: Share-based compensation expense    ​
11             Add: Amortization of intangible assets    ​
12  Add: Fine imposed pursuant to China’s Anti-mon...    ​
13                                     Adjusted EBITA    ​
14                              Adjusted EBITA margin    ​

                                   2                                  3   \
0                                   ​                                  ​
1           Year ended March 31, 2021          Year ended March 31, 2021
2                                   ​                                  ​
3                                Core                                  ​
4                            commerce                                  ​
5                                 RMB                                NaN
6                                 NaN                                NaN
7   (in millions, except percentages)  (in millions, except percentages)
8                              621146                                NaN
9                              158981                                NaN
10                              24356                                NaN
11                              11175                                NaN
12                                  —                                NaN
13                             194512                                NaN
14                                31%                                  ​

                                   4                                  5   \
0                                   ​                                  ​
1           Year ended March 31, 2021          Year ended March 31, 2021
2                                   ​                                  ​
3                               Cloud                                  ​
4                           computing                                  ​
5                                 RMB                                NaN
6                                 NaN                                NaN
7   (in millions, except percentages)  (in millions, except percentages)
8                               60120                                NaN
9                             (9,050)                                NaN
10                               8861                                NaN
11                                 23                                NaN
12                                  —                                NaN
13                              (166)                                NaN
14                               (0)%                                  ​

                                   6                                  7   \
0                                   ​                                  ​
1           Year ended March 31, 2021          Year ended March 31, 2021
2                       Digital media                                  ​
3                                 and                                  ​
4                    entertainment(1)                                  ​
5                                 RMB                                NaN
6                                 NaN                                NaN
7   (in millions, except percentages)  (in millions, except percentages)
8                               31186                                NaN
9                            (10,321)                                NaN
10                               3281                                NaN
11                                922                                NaN
12                                  —                                NaN
13                            (6,118)                                NaN
14                              (20)%                                  ​

                                   8                                  9   \
0                                   ​                                  ​
1           Year ended March 31, 2021          Year ended March 31, 2021
2                          Innovation                                  ​
3                         initiatives                                  ​
4                       and others(1)                                  ​
5                                 RMB                                NaN
6                                 NaN                                NaN
7   (in millions, except percentages)  (in millions, except percentages)
8                                4837                                NaN
9                            (15,502)                                NaN
10                               5162                                NaN
11                                 83                                NaN
12                                  —                                NaN
13                           (10,257)                                NaN
14                             (212)%                                  ​

                                   10                                 11  \
0                                   ​                                  ​
1           Year ended March 31, 2021          Year ended March 31, 2021
2                                   ​                                  ​
3                                   ​                                  ​
4                      Unallocated(2)                                  ​
5                                 RMB                                NaN
6                                 NaN                                NaN
7   (in millions, except percentages)  (in millions, except percentages)
8                                   —                                NaN
9                            (34,430)                                NaN
10                               8460                                NaN
11                                224                                NaN
12                              18228                                NaN
13                            (7,518)                                NaN
14                                NaN                                NaN

                                   12                                 13  \
0                                   ​                                  ​
1           Year ended March 31, 2021          Year ended March 31, 2021
2                                   ​                                  ​
3                                   ​                                  ​
4                        Consolidated                       Consolidated
5                                 RMB                                NaN
6                                 NaN                                NaN
7   (in millions, except percentages)  (in millions, except percentages)
8                              717289                                NaN
9                               89678                                NaN
10                              50120                                NaN
11                              12427                                NaN
12                              18228                                NaN
13                             170453                                NaN
14                                24%                                  ​

                                   14
0                                   ​
1           Year ended March 31, 2021
2                                   ​
3                                   ​
4                        Consolidated
5                                 US$
6                                 NaN
7   (in millions, except percentages)
8                              109480
9                               13688
10                               7650
11                               1896
12                               2782
13                              26016
14                                NaN
368     0    1                                                  2
0 NaN  (1)  Beginning on April 1, 2020, we reclassified th...
369     0    1                                                  2
0 NaN  (2)  Unallocated expenses primarily relate to corpo...
370     0    1                                                  2
0 NaN  (3)  For a description of the relevant PRC Anti-mon...
371                                       0    1   \
0                                      ​    ​
1                                      ​    ​
2                                      ​    ​
3                                      ​  NaN
4                                      ​    ​
5                                    NaN  NaN
6                                      ​    ​
7                         Core commerce:    ​
8                  China commerce retail    ​
9               China commerce wholesale    ​
10         International commerce retail    ​

0 NaN  ●  Display marketing services, where merchants bi...
378     0  1                                                  2
0 NaN  ●  Commissions on transactions, where merchants p...
379     0  1                                                  2
0 NaN  ●  Taobaoke program, where we collaborate with sh...
380     0  1                                                  2
0 NaN  ●  Number and engagement of consumers. Consumers ...
381     0  1                                                  2
0 NaN  ●  Broader value offered to merchants, brands, re...
382     0  1                                                  2
0 NaN  ●  Empowering data and technology. Our ability to...
383                         0    1                    2                    3   \
0                        ​    ​                    ​                    ​
1                        ​    ​  Twelve months ended  Twelve months ended
2                        ​  NaN              Jun 30,                  NaN
3                        ​    ​                 2019                    ​
4                      NaN  NaN                  NaN                  NaN
5                        ​    ​        (in millions)        (in millions)
6  Annual active consumers  NaN                  674                  NaN

                    4                    5                    6   \
0                    ​                    ​                    ​
1  Twelve months ended  Twelve months ended  Twelve months ended
2              Sep 30,                  NaN              Dec 31,
3                 2019                    ​                 2019
4                  NaN                  NaN                  NaN
5        (in millions)        (in millions)        (in millions)
6                  693                  NaN                  711

                    7                    8                    9   \
0                    ​                    ​                    ​
1  Twelve months ended  Twelve months ended  Twelve months ended
2                  NaN              Mar 31,                  NaN
3                    ​                 2020                    ​
4                  NaN                  NaN                  NaN
5        (in millions)        (in millions)        (in millions)
6                  NaN                  726                  NaN

                    10                   11                   12  \
0                    ​                    ​                    ​
1  Twelve months ended  Twelve months ended  Twelve months ended
2              Jun 30,                  NaN              Sep 30,
3                 2020                    ​                 2020
4                  NaN                  NaN                  NaN
5        (in millions)        (in millions)        (in millions)
6                  742                  NaN                  757

                    13                   14                   15  \
0                    ​                    ​                    ​
1  Twelve months ended  Twelve months ended  Twelve months ended
2                  NaN              Dec 31,                  NaN
3                    ​                 2020                    ​
4                  NaN                  NaN                  NaN
5        (in millions)        (in millions)        (in millions)
6                  NaN                  779                  NaN

                    16
0                    ​
1  Twelve months ended
2              Mar 31,
3                 2021
4                  NaN
5        (in millions)
6                  811
384             0    1                2                3                4   \
0            ​    ​                ​                ​                ​
1            ​    ​  The month ended  The month ended  The month ended
2            ​  NaN          Jun 30,              NaN          Sep 30,
3            ​    ​             2019                ​             2019
4          NaN  NaN              NaN              NaN              NaN
5            ​    ​    (in millions)    (in millions)    (in millions)
6  Mobile MAUs  NaN              755              NaN              785

                5                6                7                8   \
0                ​                ​                ​                ​
1  The month ended  The month ended  The month ended  The month ended
2              NaN          Dec 31,              NaN          Mar 31,
3                ​             2019                ​             2020
4              NaN              NaN              NaN              NaN
5    (in millions)    (in millions)    (in millions)    (in millions)
6              NaN              824              NaN              846

                9                10               11               12  \
0                ​                ​                ​                ​
1  The month ended  The month ended  The month ended  The month ended
2              NaN          Jun 30,              NaN          Sep 30,
3                ​             2020                ​             2020
4              NaN              NaN              NaN              NaN
5    (in millions)    (in millions)    (in millions)    (in millions)
6              NaN              874              NaN              881

                13               14               15               16
0                ​                ​                ​                ​
1  The month ended  The month ended  The month ended  The month ended
2              NaN          Dec 31,              NaN          Mar 31,
3                ​             2020                ​             2021
4              NaN              NaN              NaN              NaN
5    (in millions)    (in millions)    (in millions)    (in millions)
6              NaN              902              NaN              925
385                                       0    1   \
0                                      ​    ​
1                                      ​    ​
2                                      ​    ​
3                                      ​  NaN
4                                      ​    ​
5                                    NaN  NaN
6                                      ​    ​
7                         Core commerce:    ​
8                  China commerce retail    ​
9               China commerce wholesale    ​
10         International commerce retail    ​
11      International commerce wholesale    ​
12            Cainiao logistics services    ​
13               Local Consumer Services    ​
14                                Others    ​
15                   Total core commerce    ​
16                       Cloud computing    ​
17    Digital media and entertainment(1)    ​
18  Innovation initiatives and others(1)    ​
19                                 Total    ​

                                   2                                  3   \
0                                   ​                                  ​
1                Year ended March 31,               Year ended March 31,
2                                2019                               2019
3                                   ​                                NaN
4                                 RMB                                  ​
5                                 NaN                                NaN
6   (in millions, except percentages)  (in millions, except percentages)
7                                 NaN                                NaN
8                              247615                                NaN
9                                9988                                NaN
10                              19558                                NaN
11                               8167                                NaN
12                              14885                                NaN
13                              18058                                NaN
14                               5129                                NaN
15                             323400                                NaN
16                              24702                                NaN
17                              24286                                NaN
18                               4456                                NaN
19                             376844                                NaN

                                   4                                  5   \
0                                   ​                                  ​
1                Year ended March 31,               Year ended March 31,
2                                2019                                  ​
3                                % of                                NaN
4                             revenue                                  ​
5                                 NaN                                NaN
6   (in millions, except percentages)  (in millions, except percentages)
7                                 NaN                                NaN
8                                 66%                                  ​
9                                  3%                                  ​
10                                 5%                                  ​
11                                 2%                                  ​
12                                 4%                                  ​
13                                 5%                                  ​
14                                 1%                                  ​
15                                86%                                  ​
16                                 7%                                  ​
17                                 6%                                  ​
18                                 1%                                  ​
19                               100%                                  ​

                                   6                                  7   \
0                                   ​                                  ​
1                Year ended March 31,               Year ended March 31,
2                                2020                               2020
3                                   ​                                NaN
4                                 RMB                                  ​
5                                 NaN                                NaN
6   (in millions, except percentages)  (in millions, except percentages)
7                                 NaN                                NaN
8                              332750                                NaN
9                               12427                                NaN
10                              24323                                NaN
11                               9594                                NaN
12                              22233                                NaN
13                              25440                                NaN
14                               9337                                NaN
15                             436104                                NaN
16                              40016                                NaN
17                              29094                                NaN
18                               4497                                NaN
19                             509711                                NaN

                                   8                                  9   \
0                                   ​                                  ​
1                Year ended March 31,               Year ended March 31,
2                                2020                                  ​
3                                % of                                NaN
4                             revenue                                  ​
5                                 NaN                                NaN
6   (in millions, except percentages)  (in millions, except percentages)
7                                 NaN                                NaN
8                                 65%                                  ​
9                                  3%                                  ​
10                                 5%                                  ​
11                                 2%                                  ​
12                                 4%                                  ​
13                                 5%                                  ​
14                                 2%                                  ​
15                                86%                                  ​
16                                 8%                                  ​
17                                 5%                                  ​
18                                 1%                                  ​
19                               100%                                  ​

                                   10                                 11  \
0                                   ​                                  ​
1                Year ended March 31,               Year ended March 31,
2                                2021                               2021
3                                   ​                                NaN
4                                 RMB                                  ​
5                                 NaN                                NaN
6   (in millions, except percentages)  (in millions, except percentages)
7                                 NaN                                NaN
8                              473683                                NaN
9                               14322                                NaN
10                              34455                                NaN
11                              14396                                NaN
12                              37258                                NaN
13                              31537                                NaN
14                              15495                                NaN
15                             621146                                NaN
16                              60120                                NaN
17                              31186                                NaN
18                               4837                                NaN
19                             717289                                NaN

                                   12                                 13  \
0                                   ​                                  ​
1                Year ended March 31,               Year ended March 31,
2                                2021                               2021
3                                   ​                                NaN
4                                 US$                                  ​
5                                 NaN                                NaN
6   (in millions, except percentages)  (in millions, except percentages)
7                                 NaN                                NaN
8                               72298                                NaN
9                                2186                                NaN
10                               5259                                NaN
11                               2197                                NaN
12                               5687                                NaN
13                               4813                                NaN
14                               2365                                NaN
15                              94805                                NaN
16                               9176                                NaN
17                               4760                                NaN
18                                739                                NaN
19                             109480                                NaN

                                   14   15
0                                   ​    ​
1                Year ended March 31,  NaN
2                                2021  NaN
3                                % of  NaN
4                             revenue  NaN
5                                 NaN  NaN
6   (in millions, except percentages)  NaN
7                                 NaN    ​
8                                 66%    ​
9                                  2%    ​
10                                 5%    ​
11                                 2%    ​
12                                 5%    ​
13                                 5%    ​
14                                 2%    ​
15                                87%    ​
16                                 8%    ​
17                                 4%    ​
18                                 1%    ​
19                               100%    ​
386     0    1                                                  2
0 NaN  (1)  Beginning on April 1, 2020, we reclassified re...
387                                       0    1                     2  \
0                                     ​    ​                     ​
1                                     ​    ​  Year ended March 31,
2                                     ​    ​                  2019
3                                     ​  NaN                   RMB
4                                   NaN  NaN                   NaN
5                                     ​    ​         (in millions)
6                       Cost of revenue    ​                  8915
7          Product development expenses    ​                 15378
8          Sales and marketing expenses    ​                  4411
9   General and administrative expenses    ​                  8787
10                                Total    ​                 37491

                       3                     4                     5  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                      ​                  2020                     ​
3                    NaN                   RMB                   NaN
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                    NaN                  7322                   NaN
7                    NaN                 13654                   NaN
8                    NaN                  3830                   NaN
9                    NaN                  6936                   NaN
10                   NaN                 31742                   NaN

                       6                     7                     8
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                   2021                  2021                  2021
3                    RMB                   NaN                   US$
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                  11224                   NaN                  1713
7                  21474                   NaN                  3278
8                   5323                   NaN                   812
9                  12099                   NaN                  1847
10                 50120                   NaN                  7650
388                                         0    1                     2  \
0                                       ​    ​                     ​
1                                       ​    ​  Year ended March 31,
2                                       ​    ​                  2019
3                                       ​  NaN                   RMB
4                                     NaN  NaN                   NaN

402                                                     0    1  \
0                                                   ​    ​
1                                                   ​  NaN
2                                                   ​    ​
3                                                   ​    ​
4                                                 NaN  NaN
5                                                   ​  NaN
6                                          Net income  NaN
7           Less: Interest and investment income, net  NaN
8                               Add: Interest expense  NaN
9                             Less: Other income, net  NaN
10                           Add: Income tax expenses  NaN
11   Add: Share of results of equity method investees  NaN
12                             Income from operations  NaN
13              Add: Share‑based compensation expense  NaN
14  Add: Amortization and impairment of intangible...  NaN
15  Add: Fine imposed pursuant to China’s Anti-mon...  NaN
16                        Add: Impairment of goodwill  NaN
17  Add: Settlement of U.S. federal class action l...  NaN
18                                     Adjusted EBITA  NaN
19  Add: Depreciation of property and equipment, a...  NaN
20                                    Adjusted EBITDA  NaN

                       2                     3                     4  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                   2019                     ​                  2020
3                    RMB                     ​                   RMB
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                  80234                   NaN                140350
7               (44,106)                   NaN              (72,956)
8                   5190                   NaN                  5180
9                  (221)                   NaN               (7,439)
10                 16553                   NaN                 20562
11                 (566)                   NaN                  5733
12                 57084                   NaN                 91430
13                 37491                   NaN                 31742
14                 10727                   NaN                 13388
15                     —                   NaN                     —
16                     —                   NaN                   576
17                  1679                   NaN                     —
18                106981                   NaN                137136
19                 14962                   NaN                 20523
20                121943                   NaN                157659

                       5                     6                     7  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                      ​                  2021                  2021
3                      ​                   RMB                     ​
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                    NaN                143284                   NaN
7                    NaN              (72,794)                   NaN
8                    NaN                  4476                   NaN
9                    NaN               (7,582)                   NaN
10                   NaN                 29278                   NaN
11                   NaN               (6,984)                   NaN
12                   NaN                 89678                   NaN
13                   NaN                 50120                   NaN
14                   NaN                 12427                   NaN
15                   NaN                 18228                   NaN
16                   NaN                     —                   NaN
17                   NaN                     —                   NaN
18                   NaN                170453                   NaN
19                   NaN                 26389                   NaN
20                   NaN                196842                   NaN

                       8
0                      ​
1   Year ended March 31,
2                   2021
3                    US$
4                    NaN
5          (in millions)
6                  21869
7               (11,110)
8                    683
9                (1,157)
10                  4469
11               (1,066)
12                 13688
13                  7650
14                  1896
15                  2782
16                     —
17                     —
18                 26016
19                  4028
20                 30044
403     0    1                                                  2
0 NaN  (1)  For a description of the relevant PRC Anti-mon...
404                                                    0    1  \
0                                                  ​    ​
1                                                  ​  NaN
2                                                  ​    ​
3                                                  ​    ​
4                                                NaN  NaN
5                                                  ​  NaN
6                   Adjusted EBITA for core commerce  NaN
7  Less: Effects of New Retail businesses, Local ...  NaN
8  Marketplace‑based core commerce adjusted EBITA(1)  NaN

                      2                     3                     4  \
0                     ​                     ​                     ​
1  Year ended March 31,  Year ended March 31,  Year ended March 31,
2                  2019                     ​                  2020
3                   RMB                     ​                   RMB
4                   NaN                   NaN                   NaN
5         (in millions)         (in millions)         (in millions)
6                136167                   NaN                165800
7                 30699                   NaN                 30230
8                166866                   NaN                196030

                      5                     6                     7  \
0                     ​                     ​                     ​
1  Year ended March 31,  Year ended March 31,  Year ended March 31,
2                     ​                  2021                  2021
3                     ​                   RMB                     ​
4                   NaN                   NaN                   NaN
5         (in millions)         (in millions)         (in millions)
6                   NaN                194512                   NaN
7                   NaN                 34622                   NaN
8                   NaN                229134                   NaN

                      8
0                     ​
1  Year ended March 31,
2                  2021
3                   US$
4                   NaN
5         (in millions)
6                 29688
7                  5285
8                 34973
405     0    1                                                  2
0 NaN  (1)  In fiscal year 2021, for purposes of presentin...
406                                                     0    1  \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​    ​
3                                                   ​  NaN
4                                                 NaN  NaN
5                                                   ​    ​
6                                          Net income  NaN
7               Add: Share‑based compensation expense  NaN
8   Add: Amortization and impairment of intangible...  NaN
9         Add: Impairment of investments and goodwill  NaN
10  Less: Gain on deemed disposals/disposals/reval...  NaN
11  Add: Fine imposed pursuant to China’s Anti-mon...  NaN
12  Less: Gain in relation to the receipt of the 3...  NaN
13  Add: Settlement of U.S. federal class action l...  NaN
14  Add: Amortization of excess value receivable a...  NaN
15  Adjusted for tax effects on non‑GAAP adjustmen...  NaN
16                                Non‑GAAP net income  NaN

                       2                     3                     4  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                   2019                     ​                  2020
3                    RMB                   NaN                   RMB
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                  80234                   NaN                140350
7                  37491                   NaN                 31742
8                  10727                   NaN                 13388
9                  11360                   NaN                 25656
10              (47,525)                   NaN               (4,764)
11                     —                   NaN                     —
12                     —                   NaN              (71,561)
13                  1679                   NaN                     —
14                   264                   NaN                    97
15                 (823)                   NaN               (2,429)
16                 93407                   NaN                132479

                       5                     6                     7  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                      ​                  2021                  2021
3                    NaN                   RMB                   NaN
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                    NaN                143284                   NaN
7                    NaN                 50120                   NaN
8                    NaN                 12427                   NaN
9                    NaN                 14737                   NaN
10                   NaN              (66,305)                   NaN
11                   NaN                 18228                   NaN
12                   NaN                     —                   NaN
13                   NaN                     —                   NaN
14                   NaN                     —                   NaN
15                   NaN                 (506)                   NaN
16                   NaN                171985                   NaN

                       8
0                      ​
1   Year ended March 31,
2                   2021
3                    US$
4                    NaN
5          (in millions)
6                  21869
7                   7650
8                   1896
9                   2250
10              (10,120)
11                  2782
12                     —
13                     —
14                     —
15                  (77)
16                 26250
407     0    1                                                  2
0 NaN  (1)  For a description of the relevant PRC Anti-mon...
408     0    1                                                  2
0 NaN  (2)  Tax effects on non-GAAP adjustments primarily ...
409                                                     0    1  \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​    ​
3                                                   ​  NaN
4                                                 NaN  NaN
5                                                   ​    ​
6    Net income attributable to ordinary shareholders  NaN
7   Less: Dilution effect on earnings arising from...  NaN
8   Net income attributable to ordinary shareholde...  NaN
9          Add: Non‑GAAP adjustments to net income(1)  NaN
10  Non‑GAAP net income attributable to ordinary s...  NaN
11  Weighted average number of shares on a diluted...  NaN
12                   Diluted earnings per share(2)(3)  NaN
13  Add: Non-GAAP adjustments to net income per sh...  NaN
14          Non‑GAAP diluted earnings per share(2)(5)  NaN
15                        Diluted earnings per ADS(3)  NaN
16  Add: Non‑GAAP adjustments to net income per AD...  NaN
17               Non‑GAAP diluted earnings per ADS(5)  NaN

                                       2  \
0                                      ​
1                   Year ended March 31,
2                                   2019
3                                    RMB
4                                    NaN
5   (in millions, except per share data)
6                                  87600
7                                   (42)
8                                  87558
9                                  13173
10                                100731
11                                 20988
12                                  4.17
13                                  0.63
14                                  4.80
15                                 33.38
16                                  5.02
17                                 38.40

                                       3  \
0                                      ​
1                   Year ended March 31,
2                                      ​
3                                    NaN
4                                    NaN
5   (in millions, except per share data)
6                                    NaN
7                                    NaN
8                                    NaN
9                                    NaN
10                                   NaN
11                                   NaN
12                                   NaN
13                                   NaN
14                                   NaN
15                                   NaN
16                                   NaN
17                                   NaN

                                       4  \
0                                      ​
1                   Year ended March 31,
2                                   2020
3                                    RMB
4                                    NaN
5   (in millions, except per share data)
6                                 149263
7                                   (48)
8                                 149215
9                                (7,871)
10                                141344
11                                 21346
12                                  6.99
13                                (0.37)
14                                  6.62
15                                 55.93
16                                (2.95)
17                                 52.98

                                       5  \
0                                      ​
1                   Year ended March 31,
2                                      ​
3                                    NaN
4                                    NaN
5   (in millions, except per share data)
6                                    NaN
7                                    NaN
8                                    NaN
9                                    NaN
10                                   NaN
11                                   NaN
12                                   NaN
13                                   NaN
14                                   NaN
15                                   NaN
16                                   NaN
17                                   NaN

                                       6  \
0                                      ​
1                   Year ended March 31,
2                                   2021
3                                    RMB
4                                    NaN
5   (in millions, except per share data)
6                                 150308
7                                   (55)
8                                 150253
9                                  28701
10                                178954
11                                 21982
12                                  6.84
13                                  1.30
14                                  8.14
15                                 54.70
16                                 10.45
17                                 65.15

                                       7                                     8
0                                      ​                                     ​
1                   Year ended March 31,                  Year ended March 31,
2                                   2021                                  2021
3                                    NaN                                   US$
4                                    NaN                                   NaN
5   (in millions, except per share data)  (in millions, except per share data)
6                                    NaN                                 22941
7                                    NaN                                   (8)
8                                    NaN                                 22933
9                                    NaN                                  4381
10                                   NaN                                 27314
11                                   NaN                                   NaN
12                                   NaN                                  1.04
13                                   NaN                                  0.20
14                                   NaN                                  1.24
15                                   NaN                                  8.35
16                                   NaN                                  1.59
17                                   NaN                                  9.94
410     0    1                                                  2
0 NaN  (1)  See the table above regarding the reconciliati...
411     0    1                                                  2
0 NaN  (2)  For the year ended March 31, 2019, weighted av...
412     0    1                                                  2
0 NaN  (3)  Diluted earnings per share is derived from net...
413     0    1                                                  2
0 NaN  (4)  Non-GAAP adjustments to net income per share i...
414     0    1                                                  2
0 NaN  (5)  Non-GAAP diluted earnings per share is derived...
415                                                     0    1  \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​    ​
3                                                   ​  NaN
4                                                 NaN  NaN
5                                                   ​    ​
6        Net cash provided by operating activities(1)  NaN
7   Less: Purchase of property and equipment (excl...  NaN
8   Less: Acquisition of licensed copyrights(1) an...  NaN
9   Less: Changes in the consumer protection fund ...  NaN
10                                     Free cash flow  NaN

                       2                     3                     4  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                   2019                     ​                  2020
3                    RMB                   NaN                   RMB
4                    NaN                   NaN                   NaN

0 NaN  ††  Director nominated by Softbank.
449     0    1                                                  2
0 NaN  (a)  Group I directors. Current term of office will...
450     0    1                                                  2
0 NaN  (b)  Group II directors. Current term of office wil...
451     0    1                                                  2
0 NaN  (c)  Group III directors. Current term of office wi...
452     0    1                                                  2
0 NaN  (1)  969 West Wen Yi Road, Yu Hang District, Hangzh...
453     0    1                                                  2
0 NaN  (2)  26/F Tower One, Times Square, 1 Matheson Stree...
454     0  1                                                  2
0 NaN  ●  a high standard of personal character and inte...
455     0  1                                                  2
0 NaN  ●  continued service with Alibaba Group, our affi...
456     0  1                                                  2
0 NaN  ●  a track record of contribution to the business...
457     0  1                                                  2
0 NaN  ●  being a “culture carrier” who shows a consiste...
458                              0    1    2    3       4    5  \
0                         Name  NaN  Age  NaN  Gender  NaN
1           Jingxian CAI (蔡景现)    ​   44    ​       M    ​
2            Lijuan CHEN (陳丽娟)    ​   40    ​       F    ​
3                Li CHENG (程立)    ​   46    ​       M    ​
4          Trudy Shan DAI (戴珊)    ​   45    ​       F    ​
5             Luyuan FAN (樊路远)    ​   48    ​       M    ​
6           Yongxin FANG (方永新)    ​   47    ​       M    ​
7      Simon Xiaoming HU (胡晓明)    ​   51    ​       M    ​
8         Jane Fang JIANG (蒋芳)    ​   47    ​       F    ​
9         Jiangwei JIANG (蒋江伟)    ​   39    ​       M    ​
10   Eric Xiandong JING (井贤栋)†    ​   48    ​       M    ​
11           Zhenfei LIU (刘振飞)    ​   49    ​       M    ​
12           Jack Yun MA (马云)†    ​   56    ​       M    ​
13            Xingjun NI (倪行军)    ​   44    ​       M    ​
14         Lucy Lei PENG (彭蕾)†    ​   47    ​       F    ​
15    Sabrina Yijie PENG (彭翼捷)    ​   42    ​       F    ​
16           Wenlan SHAO (邵文澜)    ​   41    ​       F    ​
17         Xiaofeng SHAO (邵晓锋)    ​   55    ​       M    ​
18               Jie SONG (宋洁)    ​   42    ​       F    ​
19             Lijun SUN (孙利军)    ​   44    ​       M    ​
20     Judy Wenhong TONG (童文红)    ​   50    ​       F    ​
21       Joseph C. TSAI (蔡崇信)†    ​   57    ​       M    ​
22             Jian WANG (王坚)†    ​   58    ​       M    ​
23               Hai WANG (汪海)    ​   41    ​       M    ​
24               Lei WANG (王磊)    ​   41    ​       M    ​
25             Shuai WANG (王帅)    ​   46    ​       M    ​
26         Winnie Jia WEN (闻佳)    ​   44    ​       F    ​
27      Sophie Minzhi WU (吴敏芝)    ​   45    ​       F    ​
28          Maggie Wei WU (武卫)    ​   53    ​       F    ​
29     Eddie Yongming WU (吴泳铭)    ​   46    ​       M    ​
30             Zeming WU (吴泽明)    ​   41    ​       M    ​
31        Sara Siying YU (俞思瑛)    ​   46    ​       F    ​
32             Yongfu YU (俞永福)    ​   44    ​       M    ​
33      Sam Songbai ZENG (曾松柏)    ​   54    ​       M    ​
34   Jeff Jianfeng ZHANG (张建锋)    ​   48    ​       M    ​
35     Daniel Yong ZHANG (张勇)†    ​   49    ​       M    ​
36        Angel Ying ZHAO (赵颖)    ​   47    ​       F    ​
37  Jessie Junfang ZHENG (郑俊芳)    ​   47    ​       F    ​
38           Shunyan ZHU (朱顺炎)    ​   50    ​       M    ​

                         6    7  \
0   YearJoinedAlibabaGroup  NaN
1                     2000    ​
2                     2003    ​
3                     2005    ​
4                     1999    ​
5                     2007    ​
6                     2000    ​
7                     2005    ​
8                     1999    ​
9                     2008    ​
10                    2007    ​
11                    2006    ​
12                    1999    ​
13                    2003    ​
14                    1999    ​
15                    2000    ​
16                    2002    ​
17                    2005    ​
18                    2000    ​
19                    2002    ​
20                    2000    ​
21                    1999    ​
22                    2008    ​
23                    2003    ​
24                    2003    ​
25                    2003    ​
26                    2007    ​
27                    2000    ​
28                    2007    ​
29                    1999    ​
30                    2004    ​
31                    2005    ​
32                    2007    ​
33                    2012    ​
34                    2004    ​
35                    2007    ​
36                    2005    ​
37                    2010    ​
38                    2014    ​

                                                    8    9
0   Current position with Alibaba Group orrelated/...  NaN
1       Senior Researcher, Alibaba Cloud Intelligence    ​
2          Vice President, Alibaba Cloud Intelligence    ​
3                            Chief Technology Officer    ​
4   President, Industrial E-commerce and Community...    ​
5    President, Digital Media and Entertainment Group    ​
6                                     General Manager    ​
7                             President, Philanthropy    ​
8                         Deputy Chief People Officer    ​
9                                   Senior Researcher    ​
10  Executive Chairman and Chief Executive Officer...    ​
11                                    President, Amap    ​
12                       Partner, Alibaba Partnership    ​
13                Chief Technology Officer, Ant Group    ​
14                           Chairwoman, Lazada Group    ​
15                          Vice President, Ant Group    ​
16                          Vice President, Ant Group    ​
17                   Senior Vice President, Ant Group    ​
18                                  Senior Researcher    ​
19                          Vice President, Ant Group    ​
20                               Chief People Officer    ​
21                            Executive Vice Chairman    ​
22            Chairman, Technology Steering Committee    ​
23              Vice President, Industrial E-commerce    ​
24                              Senior Vice President    ​
25  Chairman, Marketing and Public Relations Commi...    ​
26                          President, Public Affairs    ​
27                  President, General Business Group    ​
28               Director and Chief Financial Officer    ​
29                              Senior Vice President    ​
30           Chief Technology Officer, Local Services    ​
31                                    General Counsel    ​
32             President, Lifestyle Services Business    ​
33                    Chief People Officer, Ant Group    ​
34              President, Alibaba Cloud Intelligence    ​
35               Chairman and Chief Executive Officer    ​
36  President, International Business Group, Ant G...    ​
37  Chief Risk Officer, Chief Platform Governance ...    ​
38  President, Intelligent Information Business Group    ​
459     0  1                                     2
0 NaN  †  Member of the partnership committee.
460     0  1                                                  2
0 NaN  ●  506,905,896 ordinary shares (equivalent to 63,...
461     0  1                                                  2
0 NaN  ●  47,814,800 ordinary shares (equivalent to 5,97...
462     0  1                                                  2
0 NaN  ●  276,575,864 ordinary shares (equivalent to 34,...
463     0  1                                                  2
0 NaN  ●  accelerate the vesting, in whole or in part, o...
464     0  1                                                  2
0 NaN  ●  purchase any award for an amount of cash or or...
465     0  1                                                  2
0 NaN  ●  provide for the assumption, conversion or repl...
466                        0    1               2      3                 4    5   \
0                       ​    ​               ​      ​                 ​    ​
1                       ​  NaN               ​    NaN                 ​  NaN
2                       ​  NaN       Number of    NaN                 ​  NaN
3                       ​  NaN     outstanding    NaN    Exercise price  NaN
4                       ​  NaN  RSUs/ options/      ​     (US$ per RSU/  NaN
5                       ​  NaN    other rights      ​     option/ other  NaN
6                       ​    ​    or interests      ​          right or    ​
7                       ​  NaN      granted or      ​  interest granted  NaN
8                    Name  NaN      subscribed      ​    or subscribed)  NaN
9       Daniel Yong ZHANG  NaN               *  (2) ​             14.50  NaN
10                      ​  NaN               *  (3) ​             56.00  NaN
11                      ​  NaN               *  (3) ​             87.06  NaN
12                      ​  NaN               *  (1) ​                 —  NaN
13                      ​  NaN               *  (1) ​                 —  NaN
14                      ​  NaN               *  (1) ​                 —  NaN
15                      ​  NaN               *  (1) ​                 —  NaN
16                      ​  NaN               *  (1) ​                 —  NaN
17                      ​  NaN               *  (1) ​                 —  NaN
18                      ​  NaN               *  (1) ​                 —  NaN
19                      ​  NaN               *  (3) ​            182.48  NaN
20                      ​  NaN               *  (1) ​                 —  NaN
21                      ​  NaN               *  (1) ​                 —  NaN
22         Joseph C. TSAI  NaN            7500  (1) ​                 —  NaN
23                      ​  NaN           11667  (1) ​                 —  NaN
24                      ​  NaN           10000  (1) ​                 —  NaN
25                      ​  NaN            8000  (1) ​                 —  NaN
26                      ​  NaN            6667  (1) ​                 —  NaN
27          Maggie Wei WU  NaN               *  (2) ​             14.50  NaN
28                      ​  NaN               *  (1) ​                 —  NaN
29                      ​  NaN               *  (1) ​                 —  NaN
30                      ​  NaN               *  (1) ​                 —  NaN
31                      ​  NaN               *  (1) ​                 —  NaN
32                      ​    ​               *  (1) ​                 —    ​
33                      ​    ​               *  (1) ​                 —    ​
34                      ​  NaN               *  (1) ​                 —  NaN
35       J. Michael EVANS  NaN               *  (3) ​             79.96  NaN
36                      ​  NaN               *  (1) ​                 —  NaN
37                      ​  NaN               *  (1) ​                 —  NaN
38                      ​  NaN               *  (1) ​                 —  NaN
39                      ​    ​               *  (1) ​                 —    ​
40                      ​  NaN               *  (1) ​                 —  NaN
41     Eric Xiandong JING  NaN               *  (2) ​             14.50  NaN
42                      ​  NaN               *  (1) ​                 —  NaN
43          Chee Hwa TUNG    ​               *  (1) ​                 —  NaN
44  Walter Teh Ming KWAUK    ​               *  (1) ​                 —  NaN
45             Jerry YANG    ​               *  (1) ​                 —  NaN
46        E. Börje EKHOLM    ​               *  (1) ​                 —  NaN
47      Wan Ling MARTELLO    ​               *  (1) ​                 —  NaN
48      Judy Wenhong TONG    ​               *  (2) ​             14.50  NaN
49                      ​  NaN               *  (1) ​                 —  NaN
50                      ​  NaN               *  (1) ​                 —  NaN
51                      ​  NaN               *  (1) ​                 —  NaN
52                      ​  NaN               *  (1) ​                 —  NaN
53                      ​  NaN               *  (1) ​                 —  NaN
54               Li CHENG  NaN               *  (2) ​             14.50  NaN
55                      ​  NaN               *  (1) ​                 —  NaN

               6      7                  8    9                   10
0               ​      ​                  ​    ​                   ​
1          Shares    NaN                  ​  NaN                   ​
2      underlying      ​                  ​    ​                   ​
3     outstanding      ​                  ​    ​                   ​
4   RSUs/options/      ​                  ​    ​                   ​
5    other rights      ​                  ​    ​                   ​
6    or interests      ​                  ​    ​                   ​
7      granted or      ​                  ​    ​                   ​
8      subscribed      ​   Date of grant(4)    ​  Date of expiration
9               *  (2) ​      July 26, 2013  NaN                   —
10              *  (3) ​       July 2, 2014  NaN        July 2, 2022
11              *  (3) ​       May 10, 2015  NaN        May 10, 2023
12              *  (1) ​       May 10, 2015  NaN        May 10, 2023
13              *  (1) ​   January 27, 2016  NaN    January 27, 2024
14              *  (1) ​     March 17, 2016  NaN      March 17, 2026
15              *  (1) ​    August 10, 2016  NaN     August 10, 2024
16              *  (1) ​       May 17, 2017  NaN        May 17, 2025
17              *  (1) ​      July 24, 2018  NaN       July 24, 2026
18              *  (1) ​    August 16, 2019  NaN     August 16, 2027
19              *  (3) ​  November 14, 2019  NaN   November 14, 2027
20              *  (1) ​  November 14, 2019  NaN   November 14, 2029
21              *  (1) ​      June 15, 2020  NaN       June 15, 2028
22          60000  (1) ​   January 27, 2016  NaN    January 27, 2024
23          93336  (1) ​    August 10, 2016  NaN     August 10, 2024
24          80000  (1) ​       May 17, 2017  NaN        May 17, 2025
25          64000  (1) ​      July 24, 2018  NaN       July 24, 2026
26          53336  (1) ​    August 16, 2019  NaN     August 16, 2027
27              *  (2) ​      July 26, 2013  NaN                   —
28              *  (1) ​   January 27, 2016  NaN    January 27, 2024
29              *  (1) ​    August 10, 2016  NaN     August 10, 2024
30              *  (1) ​       May 17, 2017  NaN        May 17, 2025
31              *  (1) ​      July 24, 2018  NaN       July 24, 2026
32              *  (1) ​    August 16, 2019    ​     August 16, 2027
33              *  (1) ​       May 27, 2020    ​        May 27, 2028
34              *  (1) ​      June 15, 2020  NaN       June 15, 2028
35              *  (3) ​      July 31, 2015  NaN       July 31, 2023
36              *  (1) ​      July 31, 2015  NaN       July 31, 2023
37              *  (1) ​       May 17, 2017  NaN        May 17, 2023
38              *  (1) ​      July 24, 2018  NaN       July 24, 2024
39              *  (1) ​    August 16, 2019    ​     August 16, 2025
40              *  (1) ​      June 15, 2020  NaN       June 15, 2026
41              *  (2) ​      July 26, 2013  NaN                   —
42              *  (1) ​      June 15, 2020  NaN       June 15, 2028
43              *  (1) ​   November 1, 2020  NaN    November 1, 2026
44              *  (1) ​   November 1, 2020  NaN    November 1, 2026
45              *  (1) ​   November 1, 2020  NaN    November 1, 2026
46              *  (1) ​   November 1, 2020  NaN    November 1, 2026
47              *  (1) ​   November 1, 2020  NaN    November 1, 2026
48              *  (2) ​      July 26, 2013  NaN                   —
49              *  (1) ​       May 17, 2017  NaN        May 17, 2025
50              *  (1) ​      July 24, 2018  NaN       July 24, 2026
51              *  (1) ​    August 16, 2019  NaN     August 16, 2027
52              *  (1) ​       May 27, 2020  NaN        May 27, 2028
53              *  (1) ​      June 15, 2020  NaN       June 15, 2028
54              *  (2) ​      July 26, 2013  NaN                   —
55              *  (1) ​      June 15, 2020  NaN       June 15, 2028
467                       0    1               2      3                 4    5   \
0                      ​    ​               ​      ​                 ​    ​
1                      ​  NaN               ​    NaN                 ​  NaN
2                      ​  NaN       Number of    NaN                 ​  NaN
3                      ​  NaN     outstanding    NaN    Exercise price  NaN
4                      ​  NaN  RSUs/ options/      ​     (US$ per RSU/  NaN
5                      ​  NaN    other rights      ​     option/ other  NaN
6                      ​    ​    or interests      ​          right or    ​
7                      ​  NaN      granted or      ​  interest granted  NaN
8                   Name  NaN      subscribed      ​    or subscribed)  NaN
9         Sara Siying YU  NaN               *  (2) ​             14.50  NaN
10                     ​  NaN               *  (1) ​                 —  NaN
11                     ​  NaN               *  (1) ​                 —  NaN
12                     ​  NaN               *  (1) ​                 —  NaN
13                     ​  NaN               *  (1) ​                 —  NaN
14                     ​  NaN               *  (1) ​                 —  NaN
15                     ​  NaN               *  (1) ​                 —  NaN
16                     ​  NaN               *  (1) ​                 —  NaN
17  Jessie Junfang ZHENG  NaN               *  (2) ​             23.00  NaN
18                     ​  NaN               *  (1) ​                 —  NaN
19                     ​  NaN               *  (1) ​                 —  NaN
20                     ​  NaN               *  (1) ​                 —  NaN
21                     ​    ​               *  (1) ​                 —    ​
22                     ​    ​               *  (1) ​                 —    ​
23                     ​  NaN               *  (1) ​                 —  NaN
24   Chris Pen-hung TUNG  NaN               *  (3) ​             67.28  NaN
25                     ​  NaN               *  (1) ​                 —  NaN
26                     ​  NaN               *  (1) ​                 —  NaN
27                     ​  NaN               *  (1) ​                 —  NaN
28                     ​    ​               *  (1) ​                 —    ​
29        Trudy Shan DAI    ​               *  (2) ​             14.50    ​
30                     ​    ​               *  (1) ​                 —    ​
31                     ​    ​               *  (1) ​                 —    ​
32                     ​    ​               *  (1) ​                 —    ​
33                     ​    ​               *  (1) ​                 —    ​
34                     ​    ​               *  (1) ​                 —    ​
35                     ​    ​               *  (1) ​                 —    ​
36                     ​    ​               *  (1) ​                 —    ​
37   Jeff Jianfeng ZHANG  NaN               *  (2) ​             14.50  NaN
38                     ​  NaN               *  (3) ​             69.54  NaN
39                     ​  NaN               *  (1) ​                 —  NaN
40                     ​  NaN               *  (1) ​                 —  NaN
41                     ​  NaN               *  (1) ​                 —  NaN
42                     ​  NaN               *  (1) ​                 —  NaN
43                     ​  NaN               *  (1) ​                 —  NaN
44                     ​    ​               *  (1) ​                 —    ​
45                     ​  NaN               *  (1) ​                 —  NaN

506     0    1                                                  2
0 NaN  (1)  Marketplace software technology services fee a...
507                               0    1   \
0                              ​    ​
1                              ​    ​
2                              ​  NaN
3                  Related Party  NaN
4                            NaN  NaN
5                              ​    ​
6                      Ant Group  NaN
7                              ​  NaN
8   Ant Group and its affiliates  NaN
9                              ​  NaN
10                             ​  NaN
11                             ​  NaN

                                                   2    3   \
0                                                   ​    ​
1                                                   ​  NaN
2                                                   ​  NaN
3                                         Transaction  NaN
4                                                 NaN  NaN
5                                                   ​  NaN
6    Software technology services fee and license fee  NaN
7   Reimbursement payment for software technology ...  NaN
8                    Annual fee for SME loan business  NaN
9                 Administrative and support services  NaN
10                       Cloud computing services fee  NaN
11  Marketplace software technology services fee a...  NaN

                      4                     5                     6   \
0                      ​                     ​                     ​
1   Year Ended March 31,  Year Ended March 31,  Year Ended March 31,
2                   2019                   NaN                  2020
3                    RMB                   NaN                   RMB
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                    517                   NaN                  3835
7                    106                   NaN                     —
8                    954                   NaN                   954
9                   1017                   NaN                  1224
10                   761                   NaN                  1872
11                  1489                   NaN                  2075

                      7                     8                     9   \
0                      ​                     ​                     ​
1   Year Ended March 31,  Year Ended March 31,  Year Ended March 31,
2                    NaN                  2021                  2021
3                    NaN                   RMB                   NaN
4                    NaN                   NaN                   NaN
5          (in millions)         (in millions)         (in millions)
6                    NaN                     —                   NaN
7                    NaN                     —                   NaN
8                    NaN                   954                   NaN
9                    NaN                  1208                   NaN
10                   NaN                  3916                   NaN
11                   NaN                  2427                   NaN

                      10   11
0                      ​    ​
1   Year Ended March 31,    ​
2                   2021    ​
3                    US$    ​
4                    NaN  NaN
5          (in millions)    ​
6                      —    ​
7                      —    ​
8                    146    ​
9                    184    ​
10                   598    ​
11                   370    ​
508     0  1                    2
0 NaN  ●  SoftBank agrees to:
509     0  1                                                  2
0 NaN  ●  vote its shares in favor of the election of th...
510     0  1                                                  2
0 NaN  ●  grant the voting power of any portion of its s...
511     0  1                                                  2
0 NaN  ●  Jack and Joe will vote their shares and any ot...
512     0  1                  2
0 NaN  ●  Altaba agrees to:
513     0  1                                                  2
0 NaN  ●  vote its shares in favor of the election of al...
514     0  1                                                  2
0 NaN  ●  grant the voting power over any shares it owns...
515     0  1                                                  2
0 NaN  ●  each party to the voting agreement will use it...
516     0  1                                                  2
0 NaN  ●  SoftBank and Altaba will receive certain infor...
517     0  1                                                  2
0 NaN  ●  Jack Ma’s direct and indirect economic interes...
518     0  1                                                  2
0 NaN  ●  from time to time, additional economic interes...
519     0  1                                                  2
0 NaN  ●  Ant Group may raise equity capital from invest...
520     0  1                                                  2
0 NaN  ●  following our receipt of the Issuance and unti...
521     0  1                                                  2
0 NaN  ●  any transfer of equity interests in Ant Group ...
522     0  1                              2
0 NaN  ●  customary information rights;
523     0  1                                                  2
0 NaN  ●  approval rights over certain Ant Group or Alip...
524     0  1                                                  2
0 NaN  ●  rights to ensure our ability to participate in...
525     0  1                                                  2
0 NaN  ●  increases to the size of the Ant Group board r...
526     0  1                                                  2
0 NaN  ●  any Alipay IPO or equity issuance (other than ...
527     0  1                                                  2
0 NaN  ●  our right to jointly recommend with Ant Group ...
528     0  1                                                  2
0 NaN  ●  our rights to participate in any qualified IPO...
529     0  1                                                  2
0 NaN  ●  the Independent Committee’s approval rights over:
530     0  1                                                  2
0 NaN  ●  voluntary transfers of any equity securities o...
531     0  1                                                  2
0 NaN  ●  increases to the size of the Ant Group board r...
532     0  1                                                  2
0 NaN  ●  any Alipay IPO or equity issuance (other than ...
533     0  1                                                  2
0 NaN  ●  the full payment of all pre-emptive rights fun...
534     0  1                                                  2
0 NaN  ●  the closing of a qualified IPO of Ant Group or...
535     0  1                                                  2
0 NaN  ●  our transfer to Ant Group of any remaining int...
536     0  1                                                  2
0 NaN  ●  He intends to reduce and thereafter limit his ...
537     0  1                                                  2
0 NaN  ●  He will donate all of his Yunfeng GP Distribut...
538     0  1                                                  2
0 NaN  ●  Other than his income tax obligations arising ...
539     0  1                                                  2
0 NaN  ●  If required by us, while he remains an Alibaba...
540     0  1                                                  2
0 NaN  ●  we recorded cost and expenses paid to investee...
541     0  1                                                  2
0 NaN  ●  we recorded income generated from investees fo...
542     0  1                                                  2
0 NaN  ●  the primary location of the day-to-day operati...
543     0  1                                                  2
0 NaN  ●  decisions relating to the enterprise’s financi...
544     0  1                                                  2
0 NaN  ●  the enterprise’s primary assets, accounting bo...
545     0  1                                                  2
0 NaN  ●  50% or more of voting board members or senior ...
546     0  1                                                  2
0 NaN  ●  an individual citizen or resident of the Unite...
547     0  1                                                  2
0 NaN  ●  a corporation (or other entity treated as a co...
548     0  1                                                  2
0 NaN  ●  an estate the income of which is subject to Un...
549     0  1                                                  2
0 NaN  ●  a trust if it is subject to the primary superv...
550     0  1                                      2
0 NaN  ●  a dealer in securities or currencies;
551     0  1                         2
0 NaN  ●  a financial institution;
552     0  1                                2
0 NaN  ●  a regulated investment company;
553     0  1                                2
0 NaN  ●  a real estate investment trust;
554     0  1                      2
0 NaN  ●  an insurance company;
555     0  1                           2
0 NaN  ●  a tax-exempt organization;
556     0  1                                                  2
0 NaN  ●  a person holding our ordinary shares or ADSs a...
557     0  1                                                  2
0 NaN  ●  a trader in securities that has elected the ma...
558     0  1                                             2
0 NaN  ●  a person liable for alternative minimum tax;
559     0  1                                                  2
0 NaN  ●  a person who owns or is deemed to own 10% or m...
560     0  1                                                  2
0 NaN  ●  a person required to accelerate the recognitio...
561     0  1                                                  2
0 NaN  ●  a partnership or other pass-through entity for...
562     0  1                                                  2
0 NaN  ●  a person whose “functional currency” is not th...
563     0  1                                                  2
0 NaN  ●  at least 75% of our gross income is passive in...
564     0  1                                                  2
0 NaN  ●  at least 50% of the value (determined on a qua...
565     0  1                                                  2
0 NaN  ●  the excess distribution or gain will be alloca...
566     0  1                                                  2
0 NaN  ●  the amount allocated to the current taxable ye...
567     0  1                                                  2
0 NaN  ●  the amount allocated to each other year will b...
568                                                    0    1  \
0                                                NaN  NaN
1  Persons depositing or withdrawingshares or ADS...  NaN
2   Up to US$5.00 per 100 ADSs (or fraction thereof)    ​
3                                                  ​    ​
4                                                  ​    ​
5                                                  ​    ​
6                                                  ​    ​
7        Up to US$5.00 per 100 ADS per calendar year    ​

                                                   2
0                                                NaN
1                                               For:
2  ●Issuance of ADSs upon deposit of Shares (excl...
3     ●Delivery of Shares against surrender of ADSs.
4  ●Distribution of cash dividends or other cash ...
5  ●Distribution of ADSs pursuant to (i) stock di...
6  ●Distribution of securities other than ADSs or...
7                                      ●ADS services
569     0  1                                                  2
0 NaN  ●  taxes (including applicable interest and penal...
570     0  1                                                  2
0 NaN  ●  fees for the transfer and registration of Shar...
571     0  1                                                  2
0 NaN  ●  expenses incurred for converting foreign curre...
572     0  1                                                  2
0 NaN  ●  expenses for cable, telex and fax transmission...
573     0  1                                                  2
0 NaN  ●  fees and expenses as are incurred by the depos...
574     0  1                                                  2
0 NaN  ●  fees and expenses incurred in connection with ...
575     0  1                                                  2
0 NaN  ●  Hong Kong Stock Exchange trading fee of 0.005%...
576     0  1                                                  2
0 NaN  ●  SFC transaction levy of 0.0027% of the conside...
577     0  1                                                  2
0 NaN  ●  trading tariff of HK$0.50 on each and every pu...
578     0  1                                                  2
0 NaN  ●  transfer deed stamp duty of HK$5.00 per transf...
579     0  1                                                  2
0 NaN  ●  ad valorem stamp duty at a total rate of 0.2% ...
580     0  1                                                  2
0 NaN  ●  stock settlement fee, which is currently 0.002...
581     0  1                                                  2
0 NaN  ●  brokerage commission, which is freely negotiab...
582     0  1                                                  2
0 NaN  ●  the Hong Kong Share Registrar will charge betw...
583     0  1                                                  2
0 NaN  ●  directly, by having a certificated ADS, or an ...
584     0  1                                                  2
0 NaN  ●  indirectly, through the holder’s broker or oth...
585     0  1                                                  2
0 NaN  ●  If Shares have been deposited with CCASS, the ...
586     0  1                                                  2
0 NaN  ●  If Shares are held outside CCASS, the investor...
587     0  1                                                  2
0 NaN  ●  Upon payment of its fees and expenses and of a...
588     0  1                                                  2
0 NaN  ●  The investor (or one of its agents) must deliv...
589     0  1                                                  2
0 NaN  ●  To withdraw Shares from our ADS program, an in...
590     0  1                                                  2
0 NaN  ●  Upon payment or net of its fees and expenses a...
591     0  1                                                  2
0 NaN  ●  If an investor prefers to receive Shares outsi...
592     0  1                                                  2
0 NaN  ●  production of satisfactory proof of the identi...
593     0  1                                                  2
0 NaN  ●  compliance with procedures it may establish, f...
594                         0    1                      2                      3  \
0                       ​    ​                      ​                      ​
1                       ​  NaN             Year ended             Year ended
2                       ​  NaN              March 31,              March 31,
3                       ​  NaN                   2020                    NaN
4                     NaN  NaN                    NaN                    NaN
5                       ​  NaN  (in thousands of RMB)  (in thousands of RMB)
6           Audit Fees(1)  NaN                 149298                    NaN
7   Audit-related Fees(2)  NaN                   4424                    NaN
8             Tax Fees(3)  NaN                    708                    NaN
9       All Other Fees(4)  NaN                   8082                    NaN
10                  Total  NaN                 162512                    NaN

                        4
0                       ​
1              Year ended
2               March 31,
3                    2021
4                     NaN
5   (in thousands of RMB)
6                  104501
7                   10128
8                    2346
9                   15405
10                 132380
595     0    1                                                  2
0 NaN  (1)  “Audit Fees” represents the aggregate fees bil...
596     0    1                                                  2
0 NaN  (2)  “Audit-related Fees” represents the aggregate ...
597     0    1                                                  2
0 NaN  (3)  “Tax Fees” represents the aggregate fees bille...
598     0    1                                                  2
0 NaN  (4)  “All Other Fees” represents the aggregate fees...
599                  0    1                2    3                   4    5  \
0                ​    ​                ​    ​                   ​    ​
1                ​  NaN  Total Number of  NaN                   ​  NaN
2                ​  NaN         Ordinary    ​                   ​  NaN
3                ​    ​           Shares    ​                   ​  NaN
4                ​    ​     Purchased as    ​                   ​    ​
5                ​    ​    Part of Share    ​         Total Price    ​
6                ​    ​       Repurchase    ​                Paid    ​
7            Month  NaN          Program  NaN  (US$, in millions)  NaN
8       April 2020    ​                —  NaN                   —  NaN
9         May 2020    ​                —  NaN                   —  NaN
10       June 2020    ​                —  NaN                   —  NaN
11       July 2020    ​                —  NaN                   —  NaN
12     August 2020    ​                —  NaN                   —  NaN
13  September 2020    ​                —  NaN                   —  NaN
14    October 2020    ​                —  NaN                   —  NaN
15   November 2020    ​                —  NaN                   —  NaN
16   December 2020    ​          4333760  NaN                 118  NaN
17    January 2021    ​                —  NaN                   —  NaN
18   February 2021    ​                —  NaN                   —  NaN
19      March 2021    ​                —  NaN                   —  NaN

                6    7                    8
0               ​    ​                    ​
1               ​  NaN   Approximate Dollar
2               ​  NaN    Value of Ordinary
3   Average Price  NaN  Shares that May Yet
4        Paid Per  NaN   Be Purchased Under
5        Ordinary  NaN     Share Repurchase
6        Share(1)  NaN           Program(2)
7           (US$)  NaN   (US$, in millions)
8               —  NaN                 6000
9               —  NaN                 6000
10              —  NaN                 6000
11              —  NaN                 6000
12              —  NaN                 6000
13              —  NaN                 6000
14              —  NaN                 6000
15              —  NaN                 6000
16          27.28  NaN                 9882
17              —  NaN                 9882
18              —  NaN                 9882
19              —  NaN                 9882
600     0    1                                           2
0 NaN  (1)  Each ADS represents eight ordinary shares.
601     0    1                                                  2
0 NaN  (2)  In December 2020, our board of directors autho...
602     0  1                                                  2
0 NaN  ●  We issue all corporate communications as requi...
603     0  1                                                  2
0 NaN  ●  We continue to provide printed copies of notic...
604     0  1                                                  2
0 NaN  ●  We have added to the “Investor Relations” page...
605     0  1                                                  2
0 NaN  ●  Report of Independent Registered Public Accoun...
606     0  1                                                  2
0 NaN  ●  Consolidated Income Statements for the years e...
607     0  1                                                  2
0 NaN  ●  Consolidated Statements of Comprehensive Incom...
608     0  1                                                  2

0 NaN  ●  Notes to the Consolidated Financial Statements
612     Exhibit Unnamed: 1                     Number Description of Document
0    1.1(1)          ​  Amended and Restated Memorandum and Articles o...
1    2.1(2)          ​    Registrant’s Form of Ordinary Share Certificate
2    2.2(3)          ​  Deposit Agreement, dated as of September 24, 2...
3    2.3(3)          ​  Form of American Depositary Receipt evidencing...
4    2.4(4)          ​  Amended and Restated Registration Rights Agree...
5    2.5(4)          ​  Voting Agreement by and among the Registrant, ...
6    2.6(5)          ​  Indenture, dated as of November 28, 2014, betw...
7    2.7(5)          ​  Fourth Supplemental Indenture, dated as of Nov...
8    2.8(5)          ​  Fifth Supplemental Indenture, dated as of Nove...
9    2.9(5)          ​  Sixth Supplemental Indenture, dated as of Nove...
10  2.10(5)          ​  Form of 3.125% Senior Notes Due 2021 (included...
11  2.11(5)          ​  Form of 3.600% Senior Notes Due 2024 (included...
12  2.12(5)          ​  Form of 4.500% Senior Notes Due 2034 (included...
13  2.13(6)          ​  Indenture, dated as of December 6, 2017, betwe...
613     Exhibit Unnamed: 1                     Number Description of Document
0   2.14(6)          ​  First Supplemental Indenture, dated as of Dece...
1   2.15(6)          ​  Second Supplemental Indenture, dated as of Dec...
2   2.16(6)          ​  Third Supplemental Indenture, dated as of Dece...
3   2.17(6)          ​  Fourth Supplemental Indenture, dated as of Dec...
4   2.18(6)          ​  Fifth Supplemental Indenture, dated as of Dece...
5   2.19(6)          ​  Form of 2.800% Senior Notes Due 2023 (included...
6   2.20(6)          ​  Form of 3.400% Senior Notes Due 2027 (included...
7   2.21(6)          ​  Form of 4.000% Senior Notes Due 2037 (included...
8   2.22(6)          ​  Form of 4.200% Senior Notes Due 2047 (included...
9   2.23(6)          ​  Form of 4.400% Senior Notes Due 2057 (included...
10  2.24(7)          ​  Amendment to the Amended and Restated Registra...
11     2.25          ​  Description of Securities Registered under Sec...
12     2.26          ​  Sixth Supplemental Indenture, dated as of Febr...
13     2.27          ​  Seventh Supplemental Indenture, dated as of Fe...
14     2.28          ​  Eighth Supplemental Indenture, dated as of Feb...
15     2.29          ​  Ninth Supplemental Indenture, dated as of Febr...
16     2.30          ​  Form of 2.125% Senior Notes Due 2031 (included...
17     2.31          ​  Form of 2.700% Senior Notes Due 2041 (included...
18     2.32          ​  Form of 3.150% Senior Notes Due 2051 (included...
19     2.33          ​  Form of 3.250% Senior Notes Due 2061 (included...
20   4.1(4)          ​                    Partner Capital Investment Plan
21   4.2(4)          ​  Form of Indemnification Agreement between the ...
22   4.3(4)          ​  Form of Employment Agreement between the Regis...
23   4.4(8)          ​  Schedules of Material Differences of Contractu...
24   4.5(4)          ​  Share and Asset Purchase Agreement by and amon...
25   4.6(4)          ​  Data Sharing Agreement by and between the Regi...
26   4.7(4)          ​  English Translation of Software System Use and...
27   4.8(8)          ​  Amended and Restated 2014 Post-IPO Equity Ince...
614      Exhibit Unnamed: 1                     Number Description of Document
0     4.9(4)          ​  Form of Share Retention Agreement between the ...
1    4.10(9)          ​  US$3,000,000,000 Facility Agreement between th...
2    4.11(9)          ​  Syndication and Amendment Agreement, dated May...
3    4.12(6)          ​  US$5,150,000,000 Facility Agreement between th...
4       4.13          ​  Amendment and Restatement Agreement, dated Jun...
5    4.14(6)          ​  English translation of Loan Agreement, between...
6    4.15(6)          ​  English translation of Exclusive Call Option A...
7    4.16(6)          ​  English translation of Shareholder’s Voting Ri...
8    4.17(6)          ​  English translation of Equity Pledge Agreement...
9    4.18(6)          ​  English translation of Exclusive Services Agre...
10  4.19(10)          ​  Amendment to Share and Asset Purchase Agreemen...
11  4.20(10)          ​  Amended and Restated Commercial Agreement by a...
12  4.21(11)          ​  Amendment and Restatement Agreement, dated May...
13  4.22(11)          ​  Facility Agreement relating to a HK$7,653,750,...
14  4.23(11)          ​  English translation of Asset Management Contra...
15  4.24(11)          ​  English translation of Asset Management Contra...
16  4.25(12)          ​  Second Amendment to Share and Asset Purchase A...
17  4.26(12)          ​  Second Amended and Restated Intellectual Prope...
18  4.27(12)          ​  Cross License Agreement by and between the Reg...
19  4.28(13)          ​  Third Amendment to Share and Asset Purchase Ag...
615      Exhibit Unnamed: 1                     Number Description of Document
0   4.29(13)          ​  Amendment to Commercial Agreement by and among...
1        8.1          ​  List of Subsidiaries and Consolidated Entities...
2    11.1(4)          ​                   Code of Ethics of the Registrant
3       12.1          ​  Principal Executive Officer Certification Purs...
4       12.2          ​  Principal Financial Officer Certification Purs...
5   13.1(14)          ​  Principal Executive Officer Certification Purs...
6   13.2(14)          ​  Principal Financial Officer Certification Purs...
7       15.1          ​  Consent of PricewaterhouseCoopers — Independen...
8       15.2          ​                         Consent of Fangda Partners
9       15.3          ​       Consent of Maples and Calder (Hong Kong) LLP
10   101.INS          ​                             XBRL Instance Document
11   101.SCH          ​            XBRL Taxonomy Extension Schema Document
12   101.CAL          ​  XBRL Taxonomy Extension Calculation Linkbase D...
13   101.DEF          ​  XBRL Taxonomy Extension Definition Linkbase Do...
14   101.LAB          ​    XBRL Taxonomy Extension Label Linkbase Document
15   101.PRE          ​  XBRL Taxonomy Extension Presentation Linkbase ...
16       104          ​  Cover Page Interactive Data File (embedded wit...
616      0                                                  1
0  (1)  Previously filed on Form 6-K, dated September ...
617      0                                                  1
0  (2)  Previously filed on Form 6-K, dated November 2...
618      0                                                  1
0  (3)  Previously filed with the Registration Stateme...
619      0                                                  1
0  (4)  Previously filed with the Registration Stateme...
620      0                                                  1
0  (5)  Previously filed with our Annual Report on For...
621      0                                                  1
0  (6)  Previously filed with our Annual Report on For...
622      0                                                  1
0  (7)  Previously filed on Form 6-K, dated February 2...
623      0                                                  1
0  (8)  Previously filed with our Annual Report on For...
624      0                                                  1
0  (9)  Previously filed with our Annual Report on For...
625       0                                                  1
0  (10)  Previously filed on Form 6-K, dated February 2...
626       0                                                  1
0  (11)  Previously filed with our Annual Report on For...
627       0                                                  1
0  (12)  Previously filed with the Registration Stateme...
628       0                                                  1
0  (13)  Previously filed on Form 6-K, dated August 25,...
629       0                                                1
0  (14)  Furnished with this annual report on Form 20-F.
630    0                              1                              2  \
0  ​                              ​                            NaN
1  ​  Alibaba Group Holding Limited  Alibaba Group Holding Limited
2  ​                              ​                              ​
3  ​                              ​                              ​
4  ​                            By:          /s/ Daniel Yong Zhang
5  ​                              ​                          Name:
6  ​                              ​                         Title:

                                      3
0                                   NaN
1         Alibaba Group Holding Limited
2                                     ​
3                                     ​
4                 /s/ Daniel Yong Zhang
5                     Daniel Yong Zhang
6  Chairman and Chief Executive Officer
631                                                    0     1
0                                                  ​  Page
1  Report of Independent Registered Public Accoun...   F-2
2  Consolidated Income Statements for the Years E...   F-6
3  Consolidated Statements of Comprehensive Incom...   F-7
4  Consolidated Balance Sheets as of March 31, 20...   F-8
5  Consolidated Statements of Changes in Sharehol...  F-10
6  Consolidated Statements of Cash Flows for the ...  F-13
7         Notes to Consolidated Financial Statements  F-16
632                                                    0    1      2    3   \
0                                                   ​    ​      ​    ​
1                                                   ​    ​      ​    ​
2                                                   ​    ​      ​    ​
3                                                   ​  NaN    NaN  NaN
4                                                   ​    ​      ​    ​
5                                                   ​    ​      ​    ​
6                                                   ​  NaN  Notes    ​
7                                             Revenue  NaN  5, 22  NaN
8                                     Cost of revenue  NaN     22  NaN
9                        Product development expenses  NaN     22  NaN
10                       Sales and marketing expenses    ​     22  NaN
11                General and administrative expenses  NaN     22  NaN
12   Amortization and impairment of intangible assets  NaN     16  NaN
13                             Impairment of goodwill  NaN     17  NaN
14                             Income from operations    ​      ​  NaN
15                Interest and investment income, net    ​      ​  NaN
16                                   Interest expense    ​      ​  NaN
17                                  Other income, net  NaN     22  NaN
18  Income before income tax and share of results ...    ​      ​  NaN
19                                Income tax expenses  NaN      7  NaN
20        Share of results of equity method investees  NaN     14  NaN
21                                         Net income    ​      ​  NaN
22  Net loss attributable to noncontrolling interests    ​      ​  NaN
23  Net income attributable to Alibaba Group Holdi...    ​      ​  NaN
24                      Accretion of mezzanine equity  NaN      ​  NaN
25   Net income attributable to ordinary shareholders    ​      ​  NaN
26  Earnings per share attributable to ordinary sh...  NaN      9    ​
27                                              Basic    ​      ​  NaN
28                                            Diluted    ​      ​  NaN
29  Earnings per ADS attributable to ordinary shar...    ​      9    ​
30                                              Basic    ​      ​    ​
31                                            Diluted    ​      ​    ​
32  Weighted average number of shares used in comp...    ​      9    ​
33                                              Basic    ​      ​    ​
34                                            Diluted    ​      ​  NaN

                                      4   \
0                                      ​
1                   Year ended March 31,
2                                   2019
3                                    RMB
4                                      ​
5   (in millions, except per share data)
6                                      ​
7                                 376844
8                              (206,929)
9                               (37,435)
10                              (39,780)
11                              (24,889)
12                              (10,727)
13                                     —
14                                 57084
15                                 44106
16                               (5,190)
17                                   221
18                                 96221
19                              (16,553)
20                                   566
21                                 80234
22                                  7652
23                                 87886
24                                 (286)
25                                 87600
26                                     ​
27                                  4.24
28                                  4.17
29                                     ​
30                                 33.95
31                                 33.38
32                                     ​
33                                 20640
34                                 20988

                                      5   \
0                                      ​
1                   Year ended March 31,
2                                      ​
3                                    NaN
4                                      ​
5   (in millions, except per share data)
6                                      ​
7                                    NaN
8                                    NaN
9                                    NaN
10                                   NaN
11                                   NaN
12                                   NaN
13                                   NaN
14                                   NaN
15                                   NaN
16                                   NaN
17                                   NaN
18                                   NaN
19                                   NaN
20                                   NaN
21                                   NaN
22                                   NaN
23                                   NaN
24                                   NaN
25                                   NaN
26                                     ​
27                                   NaN
28                                   NaN
29                                     ​
30                                     ​
31                                     ​
32                                     ​
33                                     ​
34                                   NaN

                                      6   \
0                                      ​
1                   Year ended March 31,
2                                   2020
3                                    RMB
4                                      ​
5   (in millions, except per share data)
6                                      ​
7                                 509711
8                              (282,367)
9                               (43,080)
10                              (50,673)
11                              (28,197)
12                              (13,388)
13                                 (576)
14                                 91430
15                                 72956
16                               (5,180)
17                                  7439
18                                166645
19                              (20,562)
20                               (5,733)
21                                140350
22                                  9083
23                                149433
24                                 (170)
25                                149263
26                                     ​
27                                  7.10
28                                  6.99
29                                     ​
30                                 56.82
31                                 55.93
32                                     ​
33                                 21017
34                                 21346

                                      7   \
0                                      ​
1                   Year ended March 31,
2                                      ​
3                                    NaN
4                                      ​
5   (in millions, except per share data)
6                                      ​
7                                    NaN
8                                    NaN
9                                    NaN
10                                   NaN
11                                   NaN
12                                   NaN
13                                   NaN
14                                   NaN
15                                   NaN
16                                   NaN
17                                   NaN
18                                   NaN
19                                   NaN
20                                   NaN
21                                   NaN
22                                   NaN
23                                   NaN
24                                   NaN
25                                   NaN
26                                     ​
27                                   NaN
28                                   NaN
29                                     ​
30                                     ​
31                                     ​
32                                     ​
33                                     ​
34                                   NaN

                                      8   \
0                                      ​
1                   Year ended March 31,
2                                   2021
3                                    RMB
4                                      ​
5   (in millions, except per share data)
6                                      ​
7                                 717289
8                              (421,205)
9                               (57,236)
10                              (81,519)
11                              (55,224)
12                              (12,427)
13                                     —
14                                 89678
15                                 72794
16                               (4,476)
17                                  7582
18                                165578
19                              (29,278)
20                                  6984
21                                143284
22                                  7294
23                                150578
24                                 (270)
25                                150308
26                                     ​
27                                  6.95
28                                  6.84
29                                     ​
30                                 55.63
31                                 54.70
32                                     ​
33                                 21619
34                                 21982

                                      9                                     10
0                                      ​                                     ​
1                   Year ended March 31,                  Year ended March 31,
2                                   2021                                  2021
3                                    NaN                                   US$
4                                      ​                           (Note 2(a))
5   (in millions, except per share data)  (in millions, except per share data)
6                                      ​                                     ​

0 NaN  (ii)  Membership fees
662     0      1                           2
0 NaN  (iii)  Logistics services revenue
663     0     1                                 2
0 NaN  (iv)  Cloud computing services revenue
664     0    1               2
0 NaN  (v)  Sales of goods
665      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
666      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
667      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
668      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
669      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
670     0    1                  2
0 NaN  (i)  Equity securities
671     0     1                 2
0 NaN  (ii)  Debt investments
672      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
673                                                 0    1  \
0                                               ​    ​
1                 Computer equipment and software  NaN
2  Furniture, office and transportation equipment  NaN
3                                       Buildings  NaN
4                           Property improvements  NaN

                                                   2
0                                                  ​
1                                        3 – 5 years
2                                       3 – 10 years
3                                      10 – 50 years
4  shorter of remaining lease period or estimated...
674      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
675                                           0    1  \
0                                         ​    ​
1      User base and customer relationships  NaN
2  Trade names, trademarks and domain names  NaN
3          Developed technology and patents  NaN
4                    Non-compete agreements    ​

                                            2  3
0                                           ​  ​
1                                3 – 16 years  ​
2                                5 – 20 years  ​
3                                 2 – 7 years  ​
4  over the contracted term of up to 10 years  ​
676      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
677      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
678      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
679      0                                                  1
0  2.0  Summary of significant accounting policies (Co...
680      0                                 1
0  3.0  Recent accounting pronouncements
681      0                                             1
0  3.0  Recent accounting pronouncements (Continued)
682      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
683      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
684                                                    0    1  \
0                                                  ​    ​
1                                                  ​  NaN
2                                                  ​  NaN
3                            Net assets acquired (i)  NaN
4                 Amortizable intangible assets (ii)  NaN
5           Trade names, trademarks and domain names  NaN
6                             Non-compete agreements  NaN
7                   Developed technology and patents  NaN
8               User base and customer relationships  NaN
9                                 Goodwill (Note 17)  NaN
10                          Deferred tax liabilities  NaN
11                    Noncontrolling interests (iii)  NaN
12                                                 ​  NaN
13                                                 ​    ​
14                                                 ​  NaN
15                                                 ​  NaN
16             Total purchase price is comprised of:  NaN
17                              ‑ cash consideration  NaN
18  ‑ fair value of previously held equity interests  NaN
19                                                 ​  NaN

                       2
0                      ​
1                Amounts
2   (in millions of RMB)
3                  49672
4                      ​
5                  11500
6                   4700
7                    615
8                     47
9                  13474
10               (9,629)
11              (23,684)
12                 46695
13                     ​
14               Amounts
15  (in millions of RMB)
16                   NaN
17                 24136
18                 22559
19                 46695
685     0    1                                                  2
0 NaN  (i)  Net assets acquired primarily included propert...
686     0     1                                                  2
0 NaN  (ii)  Acquired amortizable intangible assets had est...
687     0      1                                                  2
0 NaN  (iii)  Fair value of the noncontrolling interests was...
688      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
689                                            0    1                     2
0                                          ​    ​                     ​
1                                          ​  NaN               Amounts
2                                          ​    ​  (in millions of RMB)
3                    Net assets acquired (i)  NaN                  1621
4         Amortizable intangible assets (ii)  NaN                   NaN
5   Trade names, trademarks and domain names  NaN                  2531
6       User base and customer relationships  NaN                  1297
7                     Non-compete agreements  NaN                  1040
8           Developed technology and patents  NaN                   394
9                         Goodwill (Note 17)  NaN                  6781
10                  Deferred tax liabilities  NaN                 (338)
11                                         ​  NaN                 13326
690                                        0    1                     2
0                                      ​    ​                     ​
1                                      ​  NaN               Amounts
2                                      ​    ​  (in millions of RMB)
3  Total purchase price is comprised of:  NaN                   NaN
4                   - cash consideration  NaN                 10025
5                  - share consideration    ​                  2252
6       - contingent consideration (iii)  NaN                  1049
7                                      ​  NaN                 13326
691     0    1                                                  2
0 NaN  (i)  Net assets acquired primarily included invento...
692     0     1                                                  2
0 NaN  (ii)  Acquired amortizable intangible assets had est...
693     0      1                                                  2
0 NaN  (iii)  Contingent consideration primarily includes ca...
694      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
695                                                    0    1  \
0                                                  ​    ​
1                                                  ​  NaN
2                                                  ​  NaN
3                            Net assets acquired (i)  NaN
4                 Amortizable intangible assets (ii)    ​
5               User base and customer relationships  NaN
6                                            License    ​
7                   Developed technology and patents  NaN
8           Trade names, trademarks and domain names    ​
9                                           Goodwill  NaN
10                          Deferred tax liabilities    ​
11                    Noncontrolling interests (iii)    ​
12                                                 ​  NaN
13                                                 ​    ​
14                                                 ​    ​
15                                                 ​  NaN
16             Total purchase price is comprised of:    ​
17                              - cash consideration  NaN
18  - fair value of previously held equity interests  NaN
19                                                 ​  NaN

                       2
0                      ​
1                Amounts
2   (in millions of RMB)
3                  11766
4                      ​
5                   2979
6                    934
7                    516
8                    221
9                  18750
10                 (969)
11              (16,899)
12                 17298
13                     ​
14               Amounts
15  (in millions of RMB)
16                     ​
17                  1069
18                 16229
19                 17298
696     0    1                                                  2
0 NaN  (i)  Net assets acquired primarily included cash, c...
697     0     1                                                  2
0 NaN  (ii)  Acquired amortizable intangible assets had est...
698     0      1                                                  2
0 NaN  (iii)  Fair value of the noncontrolling interests was...
699      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
700                                                    0    1  \
0                                                  ​    ​
1                                                  ​  NaN
2                                                  ​    ​
3                        Net liabilities assumed (i)  NaN
4                 Amortizable intangible assets (ii)    ​
5               User base and customer relationships  NaN
6           Trade names, trademarks and domain names  NaN
7                             Non-compete agreements    ​
8                   Developed technology and patents  NaN
9                                           Goodwill  NaN
10                          Deferred tax liabilities  NaN
11                    Noncontrolling interests (iii)  NaN
12                                                 ​  NaN
13                                                 ​    ​
14                                                 ​    ​
15                                                 ​    ​
16             Total purchase price is comprised of:    ​
17                              ‑ cash consideration  NaN
18              ‑ contingent cash consideration (iv)    ​
19  ‑ fair value of previously held equity interests  NaN
20                                                 ​  NaN

                       2
0                      ​
1                Amounts
2   (in millions of RMB)
3                (6,327)
4                      ​
5                  13702
6                   5764
7                   4188
8                   1415
9                  34572
10                 (481)
11               (5,015)
12                 47818
13                     ​
14               Amounts
15  (in millions of RMB)
16                     ​
17                 30133
18                  4790
19                 12895
20                 47818
701     0    1                                                  2
0 NaN  (i)  Net liabilities assumed primarily included pay...
702     0     1                                                  2
0 NaN  (ii)  Acquired amortizable intangible assets had est...
703     0      1                                                  2
0 NaN  (iii)  Fair value of the noncontrolling interests was...
704     0     1                                                  2
0 NaN  (iv)  The amount is payable contingent upon the sati...
705      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
706      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
707                                                    0    1  \
0                                                  ​    ​
1                                                  ​    ​
2                                                  ​  NaN
3                            Net assets acquired (i)  NaN
4                 Amortizable intangible assets (ii)    ​
5               User base and customer relationships    ​
6           Trade names, trademarks and domain names  NaN
7                   Developed technology and patents  NaN
8                                           Goodwill  NaN
9                           Deferred tax liabilities    ​
10                    Noncontrolling interests (iii)    ​
11                                                 ​  NaN
12                                                 ​    ​
13                                                 ​    ​
14                                                 ​    ​
15             Total purchase price is comprised of:  NaN
16                              ‑ cash consideration  NaN
17                          ‑ non-cash consideration    ​
18  ‑ fair value of previously held equity interests  NaN
19                                                 ​  NaN

                       2
0                      ​
1                Amounts
2   (in millions of RMB)
3                   3261
4                      ​
5                  18330
6                   1158
7                    322
8                  36817
9                (2,372)
10              (17,682)
11                 39834
12                     ​
13               Amounts
14  (in millions of RMB)
15                     ​
16                  3196
17                 14648
18                 21990
19                 39834
708     0    1                                                  2
0 NaN  (i)  Net assets acquired primarily included cash an...
709     0     1                                                  2
0 NaN  (ii)  Acquired amortizable intangible assets had est...
710     0      1                                                  2
0 NaN  (iii)  Fair value of the noncontrolling interests as ...
711      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
712                                            0    1                     2
0                                          ​    ​                     ​
1                                          ​  NaN               Amounts
2                                          ​  NaN  (in millions of RMB)
3                    Net assets acquired (i)  NaN                  1009
4         Amortizable intangible assets (ii)  NaN                     ​
5   Trade names, trademarks and domain names  NaN                   660
6       User base and customer relationships    ​                   388
7           Developed technology and patents  NaN                    30
8                                   Goodwill  NaN                  3938
9                   Deferred tax liabilities  NaN                 (228)
10            Noncontrolling interests (iii)  NaN                 (817)
11                                         ​  NaN                  4980
713     0    1                                                  2
0 NaN  (i)  Net assets acquired primarily included cash an...
714     0     1                                                  2
0 NaN  (ii)  Acquired amortizable intangible assets had est...
715     0      1                                                  2
0 NaN  (iii)  Fair value of the noncontrolling interests was...
716      0                                                  1
0  4.0  Significant mergers and acquisitions and inves...
717                                                    0    1  \
0                                                  ​    ​
1                                                  ​    ​
2                                                  ​  NaN
3                                                NaN  NaN
4                                                  ​    ​
5                           Net assets (liabilities)  NaN
6                     Identifiable intangible assets  NaN
7                           Deferred tax liabilities  NaN
8                                                  ​  NaN
9      Noncontrolling interests and mezzanine equity  NaN
10                           Net identifiable assets  NaN
11                                          Goodwill  NaN
12                      Total purchase consideration  NaN
13    Fair value of previously held equity interests  NaN
14                    Purchase consideration settled  NaN
15             Deferred consideration as of year end  NaN
16                                                 ​    ​
17     Total purchase consideration is comprised of:    ​
18                              - cash consideration  NaN
19                          - non-cash consideration    ​
20  - fair value of previously held equity interests  NaN
21                                                 ​  NaN

                       2                     3                     4  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                   2019                   NaN                  2020
3                    NaN                   NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
5                   4883                   NaN                   846
6                   2763                   NaN                   364
7                (1,183)                   NaN                  (53)
8                   6463                   NaN                  1157
9                (2,993)                   NaN                 (998)
10                  3470                   NaN                   159
11                  7512                   NaN                  7840
12                 10982                   NaN                  7999
13               (1,778)                   NaN               (2,215)
14               (8,415)                   NaN               (5,146)
15                   789                   NaN                   638
16                     ​                     ​                     ​
17                     ​                     ​                     ​
18                  9204                   NaN                  5784
19                     —                     ​                     —
20                  1778                   NaN                  2215
21                 10982                   NaN                  7999

                       5                     6
0                      ​                     ​
1   Year ended March 31,  Year ended March 31,
2                    NaN                  2021
3                    NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)
5                    NaN                 (106)
6                    NaN                  3888
7                    NaN                 (195)
8                    NaN                  3587
9                    NaN               (3,310)
10                   NaN                   277
11                   NaN                  4105
12                   NaN                  4382
13                   NaN               (2,434)
14                   NaN               (1,794)

740     0    1                                                  2
0 NaN  (x)  Revenue from digital media and entertainment i...
741     0     1                                                  2
0 NaN  (xi)  Revenue from innovation initiatives and others...
742     0      1                                                  2
0 NaN  (xii)  For the year ended March 31, 2021, the Company...
743      0                    1
0  5.0  Revenue (Continued)
744                                    0    1                     2  \
0                                  ​    ​                     ​
1                                  ​    ​  Year ended March 31,
2                                  ​  NaN                  2019
3                                NaN  NaN                   NaN
4                                  ​    ​  (in millions of RMB)
5   Customer management services (i)    ​                246702
6                    Membership fees  NaN                 19139
7                 Logistics services  NaN                 23397
8           Cloud computing services    ​                 24702
9                     Sales of goods  NaN                 46942
10                Other revenue (ii)    ​                 15962
11                                 ​  NaN                376844

                       3                     4                     5  \
0                      ​                     ​                     ​
1   Year ended March 31,  Year ended March 31,  Year ended March 31,
2                    NaN                  2020                   NaN
3                    NaN                   NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
5                      ​                297592                     ​
6                    NaN                 22846                   NaN
7                    NaN                 33942                   NaN
8                      ​                 40016                     ​
9                    NaN                 95503                   NaN
10                     ​                 19812                     ​
11                   NaN                509711                   NaN

                       6
0                      ​
1   Year ended March 31,
2                   2021
3                    NaN
4   (in millions of RMB)
5                 363381
6                  29450
7                  55653
8                  60120
9                 180634
10                 28051
11                717289
745     0    1                                                  2
0 NaN  (i)  Customer management services mainly include P4...
746     0     1                                                  2
0 NaN  (ii)  Other revenue includes revenue from self-devel...
747      0       1
0  6.0  Leases
748                             0    1                     2  \
0                           ​    ​                     ​
1                           ​    ​  Year ended March 31,
2                           ​    ​                  2020
3                         NaN  NaN                   NaN
4                           ​    ​  (in millions of RMB)
5        Operating lease cost  NaN                  5600
6         Variable lease cost  NaN                    79
7  Total operating lease cost  NaN                  5679

                      3                     4
0                     ​                     ​
1  Year ended March 31,  Year ended March 31,
2                     ​                  2021
3                   NaN                   NaN
4  (in millions of RMB)  (in millions of RMB)
5                     ​                  6812
6                     ​                    47
7                     ​                  6859
749                                               0    1                     2
0                                             ​    ​                     ​
1                                             ​  NaN               Amounts
2                                             ​    ​  (in millions of RMB)
3                 For the year ending March 31,    ​                     ​
4                                          2022  NaN                  5779
5                                          2023  NaN                  5086
6                                          2024  NaN                  4465
7                                          2025  NaN                  3822
8                                          2026  NaN                  3366
9                                    Thereafter  NaN                 18215
10                                            ​    ​                 40733
11                       Less: imputed interest  NaN               (8,447)
12  Total operating lease liabilities (Note 19)  NaN                 32286
750      0                    1
0  7.0  Income tax expenses
751                             0    1                     2  \
0                           ​    ​                     ​
1                           ​    ​  Year ended March 31,
2                           ​  NaN                  2019
3                         NaN  NaN                   NaN
4                           ​    ​  (in millions of RMB)
5  Current income tax expense  NaN                 18750
6           Deferred taxation  NaN               (2,197)
7                           ​  NaN                 16553

                      3                     4                     5  \
0                     ​                     ​                     ​
1  Year ended March 31,  Year ended March 31,  Year ended March 31,
2                   NaN                  2020                   NaN
3                   NaN                   NaN                   NaN
4  (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
5                   NaN                 24005                   NaN
6                   NaN               (3,443)                   NaN
7                   NaN                 20562                   NaN

                      6
0                     ​
1  Year ended March 31,
2                  2021
3                   NaN
4  (in millions of RMB)
5                 26042
6                  3236
7                 29278
752     0  1                                                  2
0 NaN  ●  Alibaba (China) Technology Co., Ltd. (“Alibaba...
753      0                                1
0  7.0  Income tax expenses (Continued)
754     0  1                                                  2
0 NaN  ●  Alibaba (Beijing) Software Services Co., Ltd (...
755      0                                1
0  7.0  Income tax expenses (Continued)
756                                                  0    1                     2  \
0                                                ​    ​                     ​
1                                                ​    ​       As of March 31,
2                                                ​  NaN                  2020
3                                              NaN  NaN                   NaN
4                                                ​    ​  (in millions of RMB)
5                              Deferred tax assets    ​                     ​
6                              Licensed copyrights    ​                  3148
7        Tax losses carried forward and others (i)    ​                 33210
8                                                ​    ​                 36358
9                              Valuation allowance  NaN              (28,768)
10                       Total deferred tax assets  NaN                  7590
11                                               ​    ​                     ​
12                        Deferred tax liabilities    ​                     ​
13                  Identifiable intangible assets  NaN              (12,729)
14  Withholding tax on undistributed earnings (ii)  NaN               (8,102)
15        Equity method investees and others (iii)    ​              (23,067)
16                  Total deferred tax liabilities  NaN              (43,898)
17                    Net deferred tax liabilities  NaN              (36,308)

                       3                     4
0                      ​                     ​
1        As of March 31,       As of March 31,
2                    NaN                  2021
3                    NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)
5                      ​                     ​
6                      ​                  3664
7                      ​                 40031
8                      ​                 43695
9                    NaN              (32,654)
10                   NaN                 11041
11                     ​                     ​
12                     ​                     ​
13                   NaN              (22,212)
14                   NaN               (8,066)
15                     ​              (29,320)
16                   NaN              (59,598)
17                   NaN              (48,557)
757     0    1                                                  2
0 NaN  (i)  Others primarily represents deferred tax asset...
758     0     1                                                  2
0 NaN  (ii)  The related deferred tax liabilities as of Mar...
759     0      1                                                  2
0 NaN  (iii)  Deferred tax liabilities for investments in eq...
760      0                                1
0  7.0  Income tax expenses (Continued)
761                                                     0    1  \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​  NaN
3                                                 NaN  NaN
4                                                   ​    ​
5                                                   ​    ​
6   Income before income tax and share of result o...  NaN
7     Income tax computed at statutory EIT rate (25%)  NaN
8   Effect of different tax rates available to dif...  NaN
9   Effect of tax holiday and preferential tax ben...  NaN
10  Effect of the gain in relation to the receipt ...    ​
11  Non-deductible expenses and non-taxable income...  NaN
12  Additional deductions of certain research and ...  NaN
13  Withholding tax on the earnings distributed an...  NaN
14     Change in valuation allowance and others (iii)  NaN
15                                Income tax expenses  NaN
16  Effect of tax holidays inside the PRC on basic...  NaN
17  Effect of tax holidays inside the PRC on basic...  NaN

                                  2                                3  \
0                                 ​                                ​
1              Year ended March 31,             Year ended March 31,
2                              2019                              NaN
3                               NaN                              NaN
4   (in millions of RMB, except per  (in millions of RMB, except per
5                       share data)                      share data)
6                             96221                              NaN
7                             24055                              NaN
8                           (1,568)                              NaN
9                          (17,687)                              NaN
10                                —                                ​
11                             8168                              NaN
12                          (5,774)                              NaN
13                             3954                              NaN
14                             5405                              NaN
15                            16553                              NaN
16                             0.86                              NaN
17                             6.86                              NaN

                                  4                                5  \
0                                 ​                                ​
1              Year ended March 31,             Year ended March 31,
2                              2020                              NaN
3                               NaN                              NaN
4   (in millions of RMB, except per  (in millions of RMB, except per
5                       share data)                      share data)
6                            166645                              NaN
7                             41661                              NaN
8                           (1,085)                              NaN
9                          (18,552)                              NaN
10                         (17,890)                                ​
11                             9553                              NaN
12                          (7,219)                              NaN
13                             4621                              NaN
14                             9473                              NaN
15                            20562                              NaN
16                             0.88                              NaN
17                             7.06                              NaN

                                  6
0                                 ​
1              Year ended March 31,
2                              2021
3                               NaN
4   (in millions of RMB, except per
5                       share data)
6                            165578
7                             41395
8                           (1,982)
9                          (20,675)
10                                —
11                             1980
12                          (8,305)
13                             4612
14                            12253
15                            29278
16                             0.96
17                             7.65
762     0    1                                                  2
0 NaN  (i)  Expenses not deductible for tax purposes and n...
763     0     1                                                  2
0 NaN  (ii)  This amount represents tax incentives relating...
764     0      1                                                  2
0 NaN  (iii)  Change in valuation allowance primarily repres...
765                                             0    1             2    3  \
0                                           ​    ​             ​    ​
1                                           ​    ​             ​    ​
2                                           ​    ​             ​    ​
3                                           ​    ​        Number    ​
4                                           ​  NaN       of RSUs  NaN
5                                           ​    ​             ​  NaN
6    Awarded and unvested as of April 1, 2020  NaN      65458962    ​
7                                     Granted  NaN      27991107    ​
8                                      Vested  NaN  (25,778,912)    ​
9                          Canceled/forfeited  NaN   (4,307,920)    ​
10  Awarded and unvested as of March 31, 2021  NaN      63363237    ​
11  Expected to vest as of March 31, 2021 (i)  NaN      52458305    ​

             4
0            ​
1    Weighted-
2      average
3   grant date
4   fair value
5          US$
6       159.66
7       226.01
8       147.40
9       185.69
10      192.19
11      191.21
766     0    1                                                  2
0 NaN  (i)  RSUs expected to vest are the result of applyi...
767                                                     0    1          2    3  \
0                                                   ​    ​          ​    ​
1                                                   ​  NaN          ​  NaN
2                                                   ​    ​          ​    ​
3                                                   ​    ​     Number    ​
4                                                   ​    ​   of share    ​
5                                                   ​  NaN    options  NaN
6                                                   ​    ​          ​  NaN
7                     Outstanding as of April 1, 2020  NaN    6393303    ​
8                                           Exercised  NaN  (416,453)    ​
9                    Outstanding as of March 31, 2021  NaN    5976850    ​
10        Vested and exercisable as of March 31, 2021  NaN    4458615    ​
11  Vested and expected to vest as of March 31, 20...  NaN    5803822    ​

           4    5            6
0          ​    ​            ​
1          ​  NaN     Weighted
2   Weighted    ​      average
3    average    ​    remaining
4   exercise    ​  contractual
5      price  NaN         life
6        US$  NaN   (in years)
7      87.81    ​          3.4
8      71.54    ​            ​
9      88.94    ​          2.6
10     72.36    ​          1.9
11     86.16    ​          2.4
768     0    1                                                  2
0 NaN  (i)  Share options expected to vest are the result ...
769                               0    1                     2
0                             ​    ​                     ​
1                             ​    ​  Year ended March 31,
2                             ​  NaN                  2020
3   Risk-free interest rate (i)    ​                 1.68%
4  Expected dividend yield (ii)    ​                    0%
5   Expected life (years) (iii)    ​                  4.50
6      Expected volatility (iv)  NaN                 34.7%
770     0    1                                                  2
0 NaN  (i)  Risk-free interest rate is based on the yields...
771     0     1                                                  2
0 NaN  (ii)  Expected dividend yield is assumed to be nil a...
772     0      1                                                  2
0 NaN  (iii)  Expected life of share options is based on man...
773     0     1                                                  2
0 NaN  (iv)  Expected volatility is assumed based on the hi...
774                               0    1                     2  \
0                             ​    ​                     ​
1                             ​    ​  Year ended March 31,
2                             ​  NaN                  2019
3   Risk-free interest rate (i)    ​                 2.94%
4  Expected dividend yield (ii)    ​                    0%
5   Expected life (years) (iii)    ​                  8.25
6      Expected volatility (iv)    ​                 33.0%

                      3                     4
0                     ​                     ​
1  Year ended March 31,  Year ended March 31,
2                   NaN                  2020
3                     ​                 1.64%
4                     ​                    0%
5                     ​                  8.25
6                     ​                 33.1%
775     0    1                                                  2
0 NaN  (i)  Risk-free interest rate is based on the yields...
776     0     1                                                  2
0 NaN  (ii)  Expected dividend yield is assumed to be nil a...
777     0      1                                                  2
0 NaN  (iii)  Expected life of the rights or interests is ba...
778     0     1                                                  2
0 NaN  (iv)  Expected volatility is assumed based on the hi...
779      0                               1
0  8.0  Share-based awards (Continued)
780                                      0    1                     2  \
0                                    ​    ​                     ​
1                                    ​    ​  Year ended March 31,
2                                    ​  NaN                  2019
3                                  NaN  NaN                   NaN
4                                    ​    ​  (in millions of RMB)
5                      Cost of revenue  NaN                  8915

802                                                     0    1  \
0                                                   ​    ​
1                                                   ​  NaN
2                                                   ​    ​
3                         Balance as of April 1, 2019  NaN
4                                       Additions (i)  NaN
5   Share of results, other comprehensive income a...  NaN
6                Disposals and distributions received  NaN
7                                     Transfers (iii)    ​
8                                Impairment loss (iv)  NaN
9            Foreign currency translation adjustments  NaN
10                       Balance as of March 31, 2020  NaN
11                                      Additions (i)  NaN
12  Share of results, other comprehensive income a...  NaN
13               Disposals and distributions received  NaN
14                                    Transfers (iii)    ​
15                               Impairment loss (iv)  NaN
16           Foreign currency translation adjustments  NaN
17                       Balance as of March 31, 2021  NaN

                       2
0                      ​
1                Amounts
2   (in millions of RMB)
3                  84454
4                 103832
5                   5634
6                  (912)
7                   8060
8               (11,824)
9                    388
10                189632
11                 17731
12                 14014
13               (3,362)
14               (9,122)
15               (7,256)
16               (1,448)
17                200189
803     0    1                                                  2
0 NaN  (i)  Details of the significant additions of the in...
804     0     1                                                  2
0 NaN  (ii)  Share of results, other comprehensive income a...
805     0      1                                                  2
0 NaN  (iii)  During the year ended March 31, 2020, transfer...
806     0     1                                                  2
0 NaN  (iv)  Impairment loss recorded represents other-than...
807       0                                                  1
0  14.0  Investments in equity method investees (Contin...
808                         0    1                     2                     3  \
0                       ​    ​                     ​                     ​
1                       ​  NaN  Year ended March 31,  Year ended March 31,
2                       ​  NaN                  2019                   NaN
3                     NaN  NaN                   NaN                   NaN
4                       ​    ​  (in millions of RMB)  (in millions of RMB)
5         Operating data:    ​                     ​                     ​
6                 Revenue    ​                488775                     ​
7         Cost of revenue  NaN             (405,074)                   NaN
8  Income from operations  NaN                  3840                   NaN
9              Net income  NaN                  2923                   NaN

                      4                     5                     6
0                     ​                     ​                     ​
1  Year ended March 31,  Year ended March 31,  Year ended March 31,
2                  2020                   NaN                  2021
3                   NaN                   NaN                   NaN
4  (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
5                     ​                     ​                     ​
6                553387                     ​                657065
7             (443,198)                   NaN             (474,123)
8                  5274                   NaN                 55896
9                 30578                   NaN                 95224
809                                                 0    1                     2  \
0                                               ​    ​                     ​
1                                               ​    ​       As of March 31,
2                                               ​  NaN                  2020
3                                             NaN  NaN                   NaN
4                                               ​  NaN  (in millions of RMB)
5                             Balance sheet data:    ​                     ​
6                                  Current assets  NaN                602212
7                              Non-current assets  NaN                513773
8                             Current liabilities  NaN                451951
9                         Non-current liabilities  NaN                134030
10  Noncontrolling interests and mezzanine equity  NaN                 19958

                       3                     4
0                      ​                     ​
1        As of March 31,       As of March 31,
2                    NaN                  2021
3                    NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)
5                      ​                     ​
6                    NaN                668838
7                    NaN                586434
8                    NaN                464257
9                    NaN                129985
10                   NaN                 22997
810       0                            1
0  15.0  Property and equipment, net
811                                                  0    1                     2  \
0                                                ​    ​                     ​
1                                                ​    ​       As of March 31,
2                                                ​  NaN                  2020
3                                              NaN  NaN                   NaN
4                                                ​    ​  (in millions of RMB)
5              Buildings and property improvements  NaN                 70441
6                  Computer equipment and software  NaN                 67382
7                         Construction in progress  NaN                 10828
8   Furniture, office and transportation equipment  NaN                  6730
9                                                ​  NaN                155381
10                  Less: accumulated depreciation  NaN              (51,994)
11                                  Net book value  NaN                103387

                       3                     4
0                      ​                     ​
1        As of March 31,       As of March 31,
2                    NaN                  2021
3                    NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)
5                    NaN                 99087
6                    NaN                 84802
7                    NaN                 19958
8                    NaN                 17147
9                    NaN                220994
10                   NaN              (73,582)
11                   NaN                147412
812       0                       1
0  16.0  Intangible assets, net
813                                                 0    1                     2  \
0                                               ​    ​                     ​
1                                               ​    ​       As of March 31,
2                                               ​  NaN                  2020
3                                             NaN  NaN                   NaN
4                                               ​    ​  (in millions of RMB)
5            User base and customer relationships    ​                 50016
6        Trade names, trademarks and domain names    ​                 26151
7                          Non-compete agreements    ​                 13898
8                Developed technology and patents    ​                 10051
9      Licensed copyrights (Note 2(x)) and others  NaN                 10023
10                                              ​    ​                110139
11  Less: accumulated amortization and impairment  NaN              (49,192)
12                                 Net book value  NaN                 60947

                       3                     4
0                      ​                     ​
1        As of March 31,       As of March 31,
2                    NaN                  2021
3                    NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)
5                      ​                 50066
6                    NaN                 39440
7                      ​                 19445
8                      ​                 12855
9                      ​                  9411
10                     ​                131217
11                   NaN              (60,384)
12                   NaN                 70833
814                                 0    1                     2
0                               ​    ​                     ​
1                               ​  NaN               Amounts
2                               ​  NaN  (in millions of RMB)
3   For the year ending March 31,    ​                     ​
4                            2022  NaN                 13933
5                            2023  NaN                 11617
6                            2024  NaN                 10287
7                            2025  NaN                  7158
8                            2026  NaN                  4570
9                      Thereafter  NaN                 23268
10                              ​  NaN                 70833
815       0         1
0  17.0  Goodwill
816                                           0    1                     2   \
0                                          ​    ​                     ​
1                                          ​    ​                     ​
2                                          ​    ​                  Core
3                                          ​  NaN              commerce
4                                        NaN  NaN                   NaN
5                                          ​    ​  (in millions of RMB)
6                Balance as of April 1, 2019  NaN                197715
7                              Additions (i)  NaN                 12695
8            Deconsolidation of subsidiaries    ​                 (299)
9        Measurement period adjustments (ii)  NaN                 (532)
10                                Impairment    ​                     —
11  Foreign currency translation adjustments  NaN                  (46)
12              Balance as of March 31, 2020  NaN                209533
13                             Additions (i)  NaN                 14605
14           Deconsolidation of subsidiaries    ​                     —
15            Measurement period adjustments    ​                   240
16  Foreign currency translation adjustments  NaN               (1,364)
17              Balance as of March 31, 2021  NaN                223014

                      3                     4                     5   \
0                      ​                     ​                     ​
1                      ​                     ​                     ​
2                      ​                 Cloud                     ​
3                    NaN             computing                   NaN
4                    NaN                   NaN                   NaN
5   (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
6                      ​                  1461                     ​
7                      ​                  1111                     ​
8                      ​                  (85)                     ​
9                      ​                     —                     ​
10                     ​                     —                     ​
11                     ​                    23                     ​
12                     ​                  2510                     ​
13                     ​                     —                     ​
14                     ​                 (455)                     ​
15                     ​                     —                     ​
16                     ​                  (11)                     ​
17                     ​                  2044                     ​

                      6                     7                     8   \
0                      ​                     ​                     ​
1          Digital media                     ​            Innovation
2                    and                     ​       initiatives and
3          entertainment                   NaN                others
4                    NaN                   NaN                   NaN
5   (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
6                  60508                     ​                  5251
7                      —                     ​                   815
8                      —                     ​                     —
9                (1,292)                     ​                     —
10                 (576)                     ​                     —
11                    33                     ​                     —
12                 58673                     ​                  6066
13                     —                     ​                  2974
14                     —                     ​                     —
15                     —                     ​                     —
16                     —                     ​                     —
17                 58673                     ​                  9040

                      9                     10
0                      ​                     ​
1                      ​                     ​
2                      ​                     ​
3                    NaN                 Total
4                    NaN                   NaN
5   (in millions of RMB)  (in millions of RMB)
6                      ​                264935
7                      ​                 14621
8                      ​                 (384)
9                      ​               (1,824)
10                     ​                 (576)
11                     ​                    10
12                     ​                276782
13                     ​                 17579
14                     ​                 (455)
15                     ​                   240
16                     ​               (1,375)
17                     ​                292771
817     0    1                                                  2
0 NaN  (i)  During the year ended March 31, 2020, addition...
818     0     1                                                  2
0 NaN  (ii)  During the year ended March 31, 2020, measurem...
819       0                                       1
0  18.0  Deferred revenue and customer advances
820                        0    1                     2                     3  \
0                      ​    ​                     ​                     ​
1                      ​    ​       As of March 31,       As of March 31,
2                      ​  NaN                  2020                   NaN
3                    NaN  NaN                   NaN                   NaN
4                      ​    ​  (in millions of RMB)  (in millions of RMB)
5       Deferred revenue  NaN                 23195                   NaN
6      Customer advances  NaN                 17168                   NaN
7                      ​  NaN                 40363                   NaN
8  Less: current portion  NaN              (38,338)                   NaN
9    Non-current portion  NaN                  2025                   NaN

                      4
0                     ​
1       As of March 31,
2                  2021
3                   NaN
4  (in millions of RMB)
5                 30508
6                 35139
7                 65647
8              (62,489)
9                  3158
821       0                                                  1
0  19.0  Accrued expenses, accounts payable and other l...
822                                                     0    1  \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​  NaN
3                                                 NaN  NaN
4                                                   ​    ​
5                                            Current:    ​
6   Payables and accruals for cost of revenue and ...    ​
7            Other deposits and advances received (i)  NaN
8   Accrued bonus and staff costs, including sales...  NaN
9   Payable to merchants and third party marketing...    ​
10  Fine imposed pursuant to the PRC Anti-monopoly...    ​
11  Payables and accruals for purchases of propert...    ​
12                           Other taxes payable (ii)    ​
13             Amounts due to related companies (iii)    ​
14  Contingent and deferred consideration in relat...  NaN
15               Operating lease liabilities (Note 6)    ​
16                                             Others    ​
17                                                  ​  NaN
18                                       Non-current:    ​
19               Operating lease liabilities (Note 6)    ​
20  Contingent and deferred consideration in relat...  NaN
21                                             Others  NaN
22                                                  ​  NaN

                       2                     3                     4
0                      ​                     ​                     ​
1        As of March 31,       As of March 31,       As of March 31,
2                   2020                   NaN                  2021
3                    NaN                   NaN                   NaN
4   (in millions of RMB)  (in millions of RMB)  (in millions of RMB)
5                      ​                     ​                     ​
6                  67173                     ​                 94368
7                  25443                   NaN                 53794
8                  16860                   NaN                 24871
9                  15763                     ​                 24681
10                     —                     ​                 18228
11                  7613                     ​                 11836
12                  5479                     ​                  7922
13                  4875                     ​                  5926
14                  4680                   NaN                  4146
15                  2766                     ​                  4069
16                 10884                     ​                 11088
17                161536                   NaN                260929
18                     ​                     ​                     ​
19                 19091                     ​                 28217
20                  4850                   NaN                  1049
21                  1322                   NaN                  1488
22                 25263                   NaN                 30754
823     0    1                                                  2
0 NaN  (i)  Other deposits and advances received as of Mar...
824     0     1                                                  2
0 NaN  (ii)  Other taxes payable primarily represent VAT an...
825     0      1                                                  2
0 NaN  (iii)  Amounts due to related companies primarily rep...
826       0                1
0  20.0  Bank borrowings
827                                                     0    1  \
0                                                   ​    ​
1                                                   ​    ​
2                                                   ​  NaN
3                                                 NaN  NaN
4                                                   ​    ​

In [28]:
start = df1.index('RSUs relating to ordinary shares of the Company')
end = df1.index('Partner Capital Investment Plan relating to ordinary shares of the Company')
df1_subs = df1[start:end]
df1_subs

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
for item in df1:
    SO_b = item[0].astype(str).str.contains('Exercised') 
#     if SO_b.any():
#         ShareOptions = item

# ShareOptions
SO_b

In [ ]:
li = ['sstryy','wwetss']
li.con('sstryy')

In [ ]:
for i in range(len(li)):
    print(i,li[i])